<div class="catalog__filters js-catalog-filters">
    <a href="#" class="catalog__filters-btn">
        <span class="catalog__filters-btn-text">
            Фильтры
        </span>

        <svg width="16" height="16" aria-hidden="true" class="icon-arrow-down">
            <use xlink:href="#arrow-down"></use>
        </svg>
        <svg width="16" height="16" aria-hidden="true" class="icon-filter">
            <use xlink:href="#filter"></use>
        </svg>
    </a>
    <div class="catalog__filters-dropdown">

        <div class="catalog__filters-dropdown-inner">
            <div class="catalog__filters-dropdown-heading">
                Фильтры
                <a href="#" class="catalog__filters-dropdown-close js-filters-close">
                    <svg width="16" height="16" aria-hidden="true" class="icon-cross">
                        <use xlink:href="#cross"></use>
                    </svg>
                </a>
            </div>
            <form action="/" method="POST" class="catalog__filters-dropdown-form">
                <div class="catalog__filters-dropdown-row">
                    <div class="catalog__filters-dropdown-group catalog__filters-dropdown-group--range">
                        <div class="catalog__filters-accordion">
                            <div class="catalog__filters-accordion-btn">
                                <h4 class="catalog__filters-dropdown-group-heading">
                                    Диапазон цен
                                </h4>
                                <svg width="16" height="16" aria-hidden="true" class="icon-arrow-down">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </div>
                            <div class="catalog__filters-accordion-content">
                                <div class="catalog__filters-accordion-content-inner">
                                    <div class="catalog__filters-range-slider-wrapper">
                                        <div class="catalog__filters-range-slider js-price-range" data-min="0"
                                            data-max="9000" data-start="1000" data-end="5000" data-margin="2000">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="catalog__filters-dropdown-group">
                        <div class="catalog__filters-accordion">
                            <div class="catalog__filters-accordion-btn">
                                <h4 class="catalog__filters-dropdown-group-heading">
                                    Возраст
                                </h4>
                                <svg width="16" height="16" aria-hidden="true" class="icon-arrow-down">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </div>
                            <div class="catalog__filters-accordion-content">
                                <div class="catalog__filters-accordion-content-inner">
                                    <ul class="catalog__filters-dropdown-group-list">
                                        <li class="catalog__filters-dropdown-group-list-item">
                                            <label class="catalog__filters-dropdown-checkbox">
                                                <input type="checkbox" class="catalog__filters-dropdown-checkbox-input"
                                                    name="age" value="Малыши (0-3)">
                                                <span class="catalog__filters-dropdown-checkbox-text">
                                                    Малыши (0-3)
                                                </span>
                                            </label>
                                        </li>
                                        <li class="catalog__filters-dropdown-group-list-item">
                                            <label class="catalog__filters-dropdown-checkbox">
                                                <input type="checkbox" class="catalog__filters-dropdown-checkbox-input"
                                                    name="age" value="Дошкольники (4-6)" checked="">
                                                <span class="catalog__filters-dropdown-checkbox-text">
                                                    Дошкольники (4-6)
                                                </span>
                                            </label>
                                        </li>
                                        <li class="catalog__filters-dropdown-group-list-item">
                                            <label class="catalog__filters-dropdown-checkbox">
                                                <input type="checkbox" class="catalog__filters-dropdown-checkbox-input"
                                                    name="age" value="Младшие школьники (7-10)" checked="">
                                                <span class="catalog__filters-dropdown-checkbox-text">
                                                    Младшие школьники (7-10)
                                                </span>
                                            </label>
                                        </li>
                                        <li class="catalog__filters-dropdown-group-list-item">
                                            <label class="catalog__filters-dropdown-checkbox">
                                                <input type="checkbox" class="catalog__filters-dropdown-checkbox-input"
                                                    name="age" value="Подростки (11+)" checked="">
                                                <span class="catalog__filters-dropdown-checkbox-text">
                                                    Подростки (11+)
                                                </span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="catalog__filters-dropdown-group">
                        <div class="catalog__filters-accordion">
                            <div class="catalog__filters-accordion-btn">
                                <h4 class="catalog__filters-dropdown-group-heading">
                                    Автор
                                </h4>
                                <svg width="16" height="16" aria-hidden="true" class="icon-arrow-down">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </div>
                            <div class="catalog__filters-accordion-content">
                                <div class="catalog__filters-accordion-content-inner">
                                    <ul class="catalog__filters-dropdown-group-list">
                                        <li class="catalog__filters-dropdown-group-list-item">
                                            <label class="catalog__filters-dropdown-checkbox">
                                                <input type="checkbox" class="catalog__filters-dropdown-checkbox-input"
                                                    name="author" value="Список авторов позже" disabled="">
                                                <span class="catalog__filters-dropdown-checkbox-text">
                                                    Список авторов позже
                                                </span>
                                            </label>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="catalog__filters-dropdown-group">
                        <div class="catalog__filters-accordion">
                            <div class="catalog__filters-accordion-btn">
                                <h4 class="catalog__filters-dropdown-group-heading">
                                    Язык
                                </h4>
                                <svg width="16" height="16" aria-hidden="true" class="icon-arrow-down">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </div>
                            <div class="catalog__filters-accordion-content">
                                <div class="catalog__filters-accordion-content-inner">
                                    <ul class="catalog__filters-dropdown-group-list">
                                        <li class="catalog__filters-dropdown-group-list-item">
                                            <label class="catalog__filters-dropdown-checkbox">
                                                <input type="checkbox" class="catalog__filters-dropdown-checkbox-input"
                                                    name="language" value="Русский">
                                                <span class="catalog__filters-dropdown-checkbox-text">
                                                    Русский
                                                </span>
                                            </label>
                                        </li>
                                        <li class="catalog__filters-dropdown-group-list-item">
                                            <label class="catalog__filters-dropdown-checkbox">
                                                <input type="checkbox" class="catalog__filters-dropdown-checkbox-input"
                                                    name="language" value="Английский">
                                                <span class="catalog__filters-dropdown-checkbox-text">
                                                    Английский
                                                </span>
                                            </label>
                                        </li>
                                        <li class="catalog__filters-dropdown-group-list-item">
                                            <label class="catalog__filters-dropdown-checkbox">
                                                <input type="checkbox" class="catalog__filters-dropdown-checkbox-input"
                                                    name="language" value="Арабский">
                                                <span class="catalog__filters-dropdown-checkbox-text">
                                                    Арабский
                                                </span>
                                            </label>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="catalog__filters-dropdown-group">
                        <div class="catalog__filters-accordion">
                            <div class="catalog__filters-accordion-btn">
                                <h4 class="catalog__filters-dropdown-group-heading">
                                    Наличие
                                </h4>
                                <svg width="16" height="16" aria-hidden="true" class="icon-arrow-down">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </div>
                            <div class="catalog__filters-accordion-content">
                                <div class="catalog__filters-accordion-content-inner">
                                    <ul class="catalog__filters-dropdown-group-list">
                                        <li class="catalog__filters-dropdown-group-list-item">
                                            <label class="catalog__filters-dropdown-checkbox">
                                                <input type="checkbox" class="catalog__filters-dropdown-checkbox-input"
                                                    name="presence" value="В наличии">
                                                <span class="catalog__filters-dropdown-checkbox-text">
                                                    В наличии
                                                </span>
                                            </label>
                                        </li>
                                        <li class="catalog__filters-dropdown-group-list-item">
                                            <label class="catalog__filters-dropdown-checkbox">
                                                <input type="checkbox" class="catalog__filters-dropdown-checkbox-input"
                                                    name="presence" value="Под заказ">
                                                <span class="catalog__filters-dropdown-checkbox-text">
                                                    Под заказ
                                                </span>
                                            </label>
                                        </li>
                                        <li class="catalog__filters-dropdown-group-list-item">
                                            <label class="catalog__filters-dropdown-checkbox">
                                                <input type="checkbox" class="catalog__filters-dropdown-checkbox-input"
                                                    name="presence" value="Предзаказ">
                                                <span class="catalog__filters-dropdown-checkbox-text">
                                                    Предзаказ
                                                </span>
                                            </label>
                                        </li>


                                    </ul>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            </form>

        </div>


    </div>
</div>