<div class="table-of-sizes js-delivery-info">
    <div class="container">
        <div class="table-of-sizes__inner">
            <h4 class="table-of-sizes__heading">
                Информация о доставке:
                <a href="#" class="table-of-sizes__close js-delivery-info-close">
                    <svg width="16" height="16" aria-hidden="true" class="icon-cross">
                        <use xlink:href="#cross"></use>
                    </svg>
                </a>
            </h4>
            <div class="table-of-sizes__delivery-info-text">
                <h3>
                    ПУНКТ ВЫДАЧИ - 299 РУБ. / БЕСПЛАТНО (ДЛЯ ЗАКАЗОВ ОТ 3000 РУБ)
                </h3>
                <p>
                    В пункте выдачи по вашему выбору, за 2-7 рабочих дней.
                </p>
                <p>
                    Вышеуказанные сроки доставки увеличиваются для отдаленных регионов.
                </p>
                <p>
                    При оформлении покупки мы проинформируем вас о доступных способах доставки, стоимости и дате
                    доставки вашего заказа.
                </p>

                <h3>
                    ДОСТАВКА С ПРИМЕРКОЙ ПЕРЕД ПОКУПКОЙ ПО МОСКВЕ - 350 РУБ. / БЕСПЛАТНО
                    БЕСПЛАТНО (ПРИ ВЫКУПЕ НА СУММУ ОТ 3000 РУБ)
                </h3>
                <p>
                    Доставка возможна только по Москве (в пределах МКАД) в течение 2-3 дней.
                </p>
                <p>
                    Москва в пределах МКАД
                </p>
                <h4>
                    ПУНКТ ВЫДАЧИ - 299 РУБ. / БЕСПЛАТНО (ДЛЯ ЗАКАЗОВ ОТ 3000 РУБ)
                </h4>
                <p>
                    В пункте выдачи по вашему выбору, за 2-7 рабочих дней.
                </p>
                <p>
                    Вышеуказанные сроки доставки увеличиваются для отдаленных регионов.
                </p>
                <p>
                    При оформлении покупки мы проинформируем вас о доступных способах доставки, стоимости и дате
                    доставки вашего заказа.
                </p>
                <h4>
                    ДОСТАВКА С ПРИМЕРКОЙ ПЕРЕД ПОКУПКОЙ ПО МОСКВЕ - 350 РУБ. / БЕСПЛАТНО
                    БЕСПЛАТНО (ПРИ ВЫКУПЕ НА СУММУ ОТ 3000 РУБ)
                </h4>
                <p>
                    Доставка возможна только по Москве (в пределах МКАД) в течение 2-3 дней.
                </p>
                <p>
                    Москва в пределах МКАД
                </p>
            </div>

        </div>
    </div>

</div>