<footer class="page-footer">
    <div class="container">
        <div class="page-footer__row">
            <div class="page-footer__address-col">
                <div class="page-footer__accordion">
                    <div class="page-footer__accordion-btn">
                        <h4 class="page-footer__col-heading">
                            Адрес
                        </h4>
                        <svg width="16" height="16" aria-hidden="true" class="icon-arrow-down">
                            <use xlink:href="#arrow-down"></use>
                        </svg>
                    </div>
                    <div class="page-footer__accordion-content">
                        <div class="page-footer__accordion-content-inner">
                            <div class="page-footer__address">
                                <p>
                                    Щапова, 20, Казань
                                </p>
                                <p>
                                    Пн-Вс: 11:00-20:00
                                </p>
                                <p>
                                    +7 (843) 524-74-37
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <a href="#" class="page-footer__policy">
                    Политика конфиденциальности
                </a>
            </div>
            <div class="page-footer__nav-col">

                <div class="page-footer__nav-items">
                    <div class="page-footer__nav-item">
                        <div class="page-footer__accordion">
                            <div class="page-footer__accordion-btn">
                                <h4 class="page-footer__col-heading">
                                    Информация
                                </h4>

                                <svg width="16" height="16" aria-hidden="true" class="icon-arrow-down">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </div>
                            <div class="page-footer__accordion-content">
                                <div class="page-footer__accordion-content-inner">
                                    <ul class="page-footer__nav-list">
                                        <li class="page-footer__nav-list-item">
                                            <a href="#" class="page-footer__nav-link">
                                                Заказы и доставка
                                            </a>
                                        </li>
                                        <li class="page-footer__nav-list-item">
                                            <a href="#" class="page-footer__nav-link">
                                                Возврат товара
                                            </a>
                                        </li>
                                        <li class="page-footer__nav-list-item">
                                            <a href="#" class="page-footer__nav-link">
                                                Вопросы и ответы
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="page-footer__nav-item">
                        <div class="page-footer__accordion">
                            <div class="page-footer__accordion-btn">
                                <h4 class="page-footer__col-heading">
                                    Реквизиты
                                </h4>
                                <svg width="16" height="16" aria-hidden="true" class="icon-arrow-down">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </div>
                            <div class="page-footer__accordion-content">
                                <div class="page-footer__accordion-content-inner">
                                    <ul class="page-footer__nav-list">
                                        <li class="page-footer__nav-list-item">
                                            <a href="#" class="page-footer__nav-link">
                                                О нас

                                            </a>
                                        </li>
                                        <li class="page-footer__nav-list-item">
                                            <a href="#" class="page-footer__nav-link">
                                                Условия пользования

                                            </a>
                                        </li>
                                        <li class="page-footer__nav-list-item">
                                            <a href="#" class="page-footer__nav-link">
                                                Контакты
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="page-footer__copyright">
                    Все материалы сайта являются интеллектуальной собственностью компании Outpac
                </div>

            </div>
            <div class="page-footer__subscription-col">
                <div class="page-footer__accordion">
                    <div class="page-footer__accordion-btn">
                        <h4 class="page-footer__col-heading">
                            Рассылка
                        </h4>
                        <svg width="16" height="16" aria-hidden="true" class="icon-arrow-down">
                            <use xlink:href="#arrow-down"></use>
                        </svg>
                    </div>
                    <div class="page-footer__accordion-content">
                        <div class="page-footer__accordion-content-inner">
                            <form action="/" method="POST" class="page-footer__subscription-form">
                                <input type="email" class="page-footer__subscription-form-input"
                                    placeholder="Введите email">
                                <button type="submit" class="page-footer__subscription-form-submit">
                                    <svg width="16" height="16" aria-hidden="true" class="icon-arrow-right">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="page-footer__social">
                    <ul class="page-footer__social-list">
                        <li class="page-footer__social-list-item">
                            <a href="#" class="page-footer__social-link">
                                <svg width="16" height="16" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#vk"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="page-footer__social-list-item">
                            <a href="#" class="page-footer__social-link">
                                <svg width="16" height="16" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#telegram"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>