<section class="recommended">
    <div class="container">
        <div class="recommended__content">
            <h2 class="recommended__heading">
                Рекомендуем посмотреть
            </h2>
            <div class="recommended__products">
                <ul class="recommended__products-list">
                    <li class="recommended__products-list-item">
                        <a href="#" class="recommended__products-card">
                            <div class="recommended__products-card-gallery js-recommended-gallery">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="recommended__products-card-image-container">
                                                <img src="img/recommended/1.jpg" alt=""
                                                    class="recommended__products-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="recommended__products-card-image-container">
                                                <img src="img/recommended/1.jpg" alt=""
                                                    class="recommended__products-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="recommended__products-card-image-container">
                                                <img src="img/recommended/1.jpg" alt=""
                                                    class="recommended__products-card-image">
                                            </div>
                                        </div>
                                    </div>
                                    <button
                                        class="recommended__products-card-gallery-arrow recommended__products-card-gallery-arrow--prev">
                                        <svg width="16" height="16" aria-hidden="true" class="icon-arrow-left">
                                            <use xlink:href="#new-arrow-left"></use>
                                        </svg>
                                    </button>
                                    <button
                                        class="recommended__products-card-gallery-arrow recommended__products-card-gallery-arrow--next">
                                        <svg width="16" height="16" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#new-arrow-right"></use>
                                        </svg>
                                    </button>
                                </div>


                            </div>

                            <h4 class="recommended__products-card-title">
                                Stussy
                            </h4>
                            <div class="recommended__products-card-color">
                                Gandem
                            </div>
                            <div class="recommended__products-card-price">
                                <div class="recommended__products-card-price-new">
                                    8 500 P
                                </div>
                                <div class="recommended__products-card-price-divider">
                                    /
                                </div>
                                <div class="recommended__products-card-price-old">
                                    12 000 Р
                                </div>

                            </div>
                        </a>
                    </li>
                    <li class="recommended__products-list-item">
                        <a href="#" class="recommended__products-card">

                            <div class="recommended__products-card-gallery js-recommended-gallery">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="recommended__products-card-image-container">
                                                <img src="img/recommended/2.jpg" alt=""
                                                    class="recommended__products-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="recommended__products-card-image-container">
                                                <img src="img/recommended/2.jpg" alt=""
                                                    class="recommended__products-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="recommended__products-card-image-container">
                                                <img src="img/recommended/2.jpg" alt=""
                                                    class="recommended__products-card-image">
                                            </div>
                                        </div>
                                    </div>
                                    <button
                                        class="recommended__products-card-gallery-arrow recommended__products-card-gallery-arrow--prev">
                                        <svg width="16" height="16" aria-hidden="true" class="icon-arrow-left">
                                            <use xlink:href="#new-arrow-left"></use>
                                        </svg>
                                    </button>
                                    <button
                                        class="recommended__products-card-gallery-arrow recommended__products-card-gallery-arrow--next">
                                        <svg width="16" height="16" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#new-arrow-right"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <h4 class="recommended__products-card-title">
                                The Hundreds
                            </h4>
                            <div class="recommended__products-card-color">
                                Черный
                            </div>
                            <div class="recommended__products-card-price">
                                3 290 P

                            </div>
                        </a>
                    </li>
                    <li class="recommended__products-list-item">
                        <a href="#" class="recommended__products-card">



                            <div class="recommended__products-card-gallery js-recommended-gallery">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="recommended__products-card-image-container">
                                                <img src="img/recommended/3.jpg" alt=""
                                                    class="recommended__products-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="recommended__products-card-image-container">
                                                <img src="img/recommended/3.jpg" alt=""
                                                    class="recommended__products-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="recommended__products-card-image-container">
                                                <img src="img/recommended/3.jpg" alt=""
                                                    class="recommended__products-card-image">
                                            </div>
                                        </div>
                                    </div>
                                    <button
                                        class="recommended__products-card-gallery-arrow recommended__products-card-gallery-arrow--prev">
                                        <svg width="16" height="16" aria-hidden="true" class="icon-arrow-left">
                                            <use xlink:href="#new-arrow-left"></use>
                                        </svg>
                                    </button>
                                    <button
                                        class="recommended__products-card-gallery-arrow recommended__products-card-gallery-arrow--next">
                                        <svg width="16" height="16" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#new-arrow-right"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <h4 class="recommended__products-card-title">
                                The Hundreds
                            </h4>
                            <div class="recommended__products-card-color">
                                Черный
                            </div>
                            <div class="recommended__products-card-price">
                                4 090 P

                            </div>
                        </a>
                    </li>
                    <li class="recommended__products-list-item">
                        <a href="#" class="recommended__products-card">
                            <div class="recommended__products-card-gallery js-recommended-gallery">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="recommended__products-card-image-container">
                                                <img src="img/recommended/4.jpg" alt=""
                                                    class="recommended__products-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="recommended__products-card-image-container">
                                                <img src="img/recommended/4.jpg" alt=""
                                                    class="recommended__products-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="recommended__products-card-image-container">
                                                <img src="img/recommended/4.jpg" alt=""
                                                    class="recommended__products-card-image">
                                            </div>
                                        </div>
                                    </div>
                                    <button
                                        class="recommended__products-card-gallery-arrow recommended__products-card-gallery-arrow--prev">
                                        <svg width="16" height="16" aria-hidden="true" class="icon-arrow-left">
                                            <use xlink:href="#new-arrow-left"></use>
                                        </svg>
                                    </button>
                                    <button
                                        class="recommended__products-card-gallery-arrow recommended__products-card-gallery-arrow--next">
                                        <svg width="16" height="16" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#new-arrow-right"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <h4 class="recommended__products-card-title">
                                The Hundreds
                            </h4>
                            <div class="recommended__products-card-price">
                                5 000 P
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="recommended">
    <div class="container">
        <div class="recommended__content">
            <h2 class="recommended__heading">
                Вы недавно смотрели
            </h2>
            <div class="recommended__products">
                <ul class="recommended__products-list">
                    <li class="recommended__products-list-item">
                        <a href="#" class="recommended__products-card">
                            <div class="recommended__products-card-gallery js-recommended-gallery">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="recommended__products-card-image-container">
                                                <img src="img/recent/1.jpg" alt=""
                                                    class="recommended__products-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="recommended__products-card-image-container">
                                                <img src="img/recent/1.jpg" alt=""
                                                    class="recommended__products-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="recommended__products-card-image-container">
                                                <img src="img/recent/1.jpg" alt=""
                                                    class="recommended__products-card-image">
                                            </div>
                                        </div>
                                    </div>
                                    <button
                                        class="recommended__products-card-gallery-arrow recommended__products-card-gallery-arrow--prev">
                                        <svg width="16" height="16" aria-hidden="true" class="icon-arrow-left">
                                            <use xlink:href="#new-arrow-left"></use>
                                        </svg>
                                    </button>
                                    <button
                                        class="recommended__products-card-gallery-arrow recommended__products-card-gallery-arrow--next">
                                        <svg width="16" height="16" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#new-arrow-right"></use>
                                        </svg>
                                    </button>
                                </div>


                            </div>

                            <h4 class="recommended__products-card-title">
                                Saturdaysnyc
                            </h4>
                            <div class="recommended__products-card-color">
                                Gandem
                            </div>
                            <div class="recommended__products-card-price">
                                <div class="recommended__products-card-price-new">
                                    8 500 P
                                </div>
                                <div class="recommended__products-card-price-divider">
                                    /
                                </div>
                                <div class="recommended__products-card-price-old">
                                    12 000 Р
                                </div>

                            </div>
                        </a>
                    </li>
                    <li class="recommended__products-list-item">
                        <a href="#" class="recommended__products-card">

                            <div class="recommended__products-card-gallery js-recommended-gallery">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="recommended__products-card-image-container">
                                                <img src="img/recent/2.jpg" alt=""
                                                    class="recommended__products-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="recommended__products-card-image-container">
                                                <img src="img/recent/2.jpg" alt=""
                                                    class="recommended__products-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="recommended__products-card-image-container">
                                                <img src="img/recent/2.jpg" alt=""
                                                    class="recommended__products-card-image">
                                            </div>
                                        </div>
                                    </div>
                                    <button
                                        class="recommended__products-card-gallery-arrow recommended__products-card-gallery-arrow--prev">
                                        <svg width="16" height="16" aria-hidden="true" class="icon-arrow-left">
                                            <use xlink:href="#new-arrow-left"></use>
                                        </svg>
                                    </button>
                                    <button
                                        class="recommended__products-card-gallery-arrow recommended__products-card-gallery-arrow--next">
                                        <svg width="16" height="16" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#new-arrow-right"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <h4 class="recommended__products-card-title">
                                Saturdaysnyc
                            </h4>
                            <div class="recommended__products-card-color">
                                Черный
                            </div>
                            <div class="recommended__products-card-price">
                                3 290 P

                            </div>
                        </a>
                    </li>
                    <li class="recommended__products-list-item">
                        <a href="#" class="recommended__products-card">



                            <div class="recommended__products-card-gallery js-recommended-gallery">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="recommended__products-card-image-container">
                                                <img src="img/recent/3.jpg" alt=""
                                                    class="recommended__products-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="recommended__products-card-image-container">
                                                <img src="img/recent/3.jpg" alt=""
                                                    class="recommended__products-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="recommended__products-card-image-container">
                                                <img src="img/recent/3.jpg" alt=""
                                                    class="recommended__products-card-image">
                                            </div>
                                        </div>
                                    </div>
                                    <button
                                        class="recommended__products-card-gallery-arrow recommended__products-card-gallery-arrow--prev">
                                        <svg width="16" height="16" aria-hidden="true" class="icon-arrow-left">
                                            <use xlink:href="#new-arrow-left"></use>
                                        </svg>
                                    </button>
                                    <button
                                        class="recommended__products-card-gallery-arrow recommended__products-card-gallery-arrow--next">
                                        <svg width="16" height="16" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#new-arrow-right"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <h4 class="recommended__products-card-title">
                                Saturdaysnyc
                            </h4>
                            <div class="recommended__products-card-color">
                                Черный
                            </div>
                            <div class="recommended__products-card-price">
                                4 090 P

                            </div>
                        </a>
                    </li>
                    <li class="recommended__products-list-item">
                        <a href="#" class="recommended__products-card">
                            <div class="recommended__products-card-gallery js-recommended-gallery">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="recommended__products-card-image-container">
                                                <img src="img/recent/4.jpg" alt=""
                                                    class="recommended__products-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="recommended__products-card-image-container">
                                                <img src="img/recent/4.jpg" alt=""
                                                    class="recommended__products-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="recommended__products-card-image-container">
                                                <img src="img/recent/4.jpg" alt=""
                                                    class="recommended__products-card-image">
                                            </div>
                                        </div>
                                    </div>
                                    <button
                                        class="recommended__products-card-gallery-arrow recommended__products-card-gallery-arrow--prev">
                                        <svg width="16" height="16" aria-hidden="true" class="icon-arrow-left">
                                            <use xlink:href="#new-arrow-left"></use>
                                        </svg>
                                    </button>
                                    <button
                                        class="recommended__products-card-gallery-arrow recommended__products-card-gallery-arrow--next">
                                        <svg width="16" height="16" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#new-arrow-right"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <h4 class="recommended__products-card-title">
                                Saturdaysnyc
                            </h4>
                            <div class="recommended__products-card-price">
                                5 000 P
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>