<div class="table-of-sizes js-table-of-sizes">
    <div class="container">
        <div class="table-of-sizes__inner">
                <h4 class="table-of-sizes__heading">
                    Таблица размеров
                    <a href="#" class="table-of-sizes__close js-close-sizes-table">
                        <svg width="16" height="16" aria-hidden="true" class="icon-cross">
                            <use xlink:href="#cross"></use>
                        </svg>
                    </a>
                </h4>
                <div class="table-of-sizes__table">
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    Стандартные размеры
                                </th>
                                <th>
                                    Россия
                                </th>
                                <th>
                                    <div class="table-of-sizes__select-country">
                                        <select name="country" class="js-custom-select">
                                            <option value="Италия">Италия</option>
                                            <option value="США">США</option>
                                        </select>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    XXXS
                                </td>
                                <td>
                                    40
                                </td>
                                <td>
                                    40
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    XXS
                                </td>
                                <td>
                                    42
                                </td>
                                <td>
                                    42
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    XS
                                </td>
                                <td>
                                    44
                                </td>
                                <td>
                                    44
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    S
                                </td>
                                <td>
                                    46
                                </td>
                                <td>
                                    46
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    M
                                </td>
                                <td>
                                    48
                                </td>
                                <td>
                                    48
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    L
                                </td>
                                <td>
                                    50
                                </td>
                                <td>
                                    50
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    XL
                                </td>
                                <td>
                                    52
                                </td>
                                <td>
                                    52
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    XXL
                                </td>
                                <td>
                                    54
                                </td>
                                <td>
                                    54
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    XXXL
                                </td>
                                <td>
                                    56
                                </td>
                                <td>
                                    56
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-of-sizes__remark">
                    Пожалуйста, обратите внимание, что размеры могут отличаться в зависимости от бренда и кроя.
                </div>
            
        </div>
    </div>

</div>