{{#extend "layout"}}
{{#content "main"}}

<section class="register">
    <div class="container">
        <div class="register__row">
            <div class="register__left-col">
                <h2 class="account-heading register__heading">
                    Личный кабинет
                </h2>
                <nav class="register__account-nav">
                    <ul class="register__account-nav-list">
                        <li class="register__account-nav-list-item active">
                            <a href="#" class="register__account-nav-link">
                                Информация
                            </a>
                        </li>
                        <li class="register__account-nav-list-item">
                            <a href="#" class="register__account-nav-link">
                                Мои заказы
                            </a>
                        </li>
                        <li class="register__account-nav-list-item">
                            <a href="#" class="register__account-nav-link">
                                Возврат товара
                            </a>
                        </li>
                        <li class="register__account-nav-list-item">
                            <a href="#" class="register__account-nav-link">
                                Адресная книга
                            </a>
                        </li>
                        <li class="register__account-nav-list-item">
                            <a href="#" class="register__account-nav-link">
                                Избранное
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="register__right-col">
                <h2 class="account-heading register__heading">
                    Информация
                </h2>
                <div class="register__account-info">
                    <table>
                        <tbody>
                            <tr>
                                <th>
                                    Имя
                                </th>
                                <td>
                                    Макс
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Фамилия
                                </th>
                                <td>
                                    Васильев
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    E-mail
                                </th>
                                <td>
                                    vasil@mail.ru
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Телефон
                                </th>
                                <td>
                                    917 123 123 1
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Дата рождения
                                </th>
                                <td>
                                    23/10/1990
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Пол
                                </th>
                                <td>
                                    муж
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Пароль
                                </th>
                                <td>
                                    **********
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <a href="#" class="account-submit register__account-edit">
                    Редактировать
                </a>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}