{{#extend "layout"}}
    {{#content "main"}}

        <section class="catalog">
            <div class="container">
                <div class="catalog__top-row-wrapper">
                    <div class="catalog__top-row">
                        <div class="breadcrumbs catalog__breadcrumbs">
                            <ul class="breadcrumbs__list">
                                <li class="breadcrumbs__list-item">
                                    <a href="#" class="breadcrumbs__link">
                                        Главная
                                        <svg width="16" height="16" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#arrow-right"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="breadcrumbs__list-item">
                                    <a href="#" class="breadcrumbs__link">
                                        Книги
                                        <svg width="16" height="16" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#arrow-right"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="breadcrumbs__list-item active">
                                    <a href="#" class="breadcrumbs__link">
                                        Книги для подростков
                                        <svg width="16" height="16" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#arrow-right"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        {{> catalog-filters }}
                    </div>
                </div>

                <div class="catalog__content">
                    <div class="catalog__results">
                        <ul class="catalog__list">
                            <li class="catalog__list-item">
                                <a href="#" class="catalog__card">
                                    <div class="catalog__card-image-gallery js-catalog-card-gallery">
                                        <div class="swiper-container">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <div class="catalog__card-image-gallery-card">
                                                        <img src="img/catalog-new/1.webp" alt=""
                                                            class="catalog__card-image-gallery-card-image">
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <button
                                            class="catalog__card-image-gallery-arrow catalog__card-image-gallery-arrow--prev">
                                            <svg width="16" height="16" aria-hidden="true" class="icon-arrow-left">
                                                <use xlink:href="#new-arrow-left"></use>
                                            </svg>
                                        </button>
                                        <button
                                            class="catalog__card-image-gallery-arrow catalog__card-image-gallery-arrow--next">
                                            <svg width="16" height="16" aria-hidden="true" class="icon-arrow-right">
                                                <use xlink:href="#new-arrow-right"></use>
                                            </svg>
                                        </button>
                                    </div>
                                    <div class="catalog__card-row">
                                        <div class="catalog__card-content">
                                            <h4 class="catalog__card-title">
                                                Горы и город.<br>
                                                Следы на снегу.
                                            </h4>
                                            <div class="catalog__card-price">
                                                980 ₽
                                            </div>
                                        </div>
                                        <div class="catalog__card-buy-btn">
                                            Купить
                                        </div>
                                    </div>

                                </a>
                            </li>
                            <li class="catalog__list-item">
                                <a href="#" class="catalog__card">
                                    <div class="catalog__card-image-gallery js-catalog-card-gallery">
                                        <div class="swiper-container">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <div class="catalog__card-image-gallery-card">
                                                        <img src="img/catalog-new/2.webp" alt=""
                                                            class="catalog__card-image-gallery-card-image">
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <button
                                            class="catalog__card-image-gallery-arrow catalog__card-image-gallery-arrow--prev">
                                            <svg width="16" height="16" aria-hidden="true" class="icon-arrow-left">
                                                <use xlink:href="#new-arrow-left"></use>
                                            </svg>
                                        </button>
                                        <button
                                            class="catalog__card-image-gallery-arrow catalog__card-image-gallery-arrow--next">
                                            <svg width="16" height="16" aria-hidden="true" class="icon-arrow-right">
                                                <use xlink:href="#new-arrow-right"></use>
                                            </svg>
                                        </button>
                                    </div>
                                    <div class="catalog__card-row">
                                        <div class="catalog__card-content">
                                            <h4 class="catalog__card-title">
                                                Ежедневник
                                            </h4>
                                            <div class="catalog__card-price">
                                                980 ₽
                                            </div>
                                        </div>
                                        <div class="catalog__card-buy-btn">
                                            Купить
                                        </div>
                                    </div>

                                </a>
                            </li>
                            <li class="catalog__list-item">
                                <a href="#" class="catalog__card">
                                    <div class="catalog__card-image-gallery js-catalog-card-gallery">
                                        <div class="swiper-container">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <div class="catalog__card-image-gallery-card">
                                                        <img src="img/catalog-new/3.webp" alt=""
                                                            class="catalog__card-image-gallery-card-image">
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <button
                                            class="catalog__card-image-gallery-arrow catalog__card-image-gallery-arrow--prev">
                                            <svg width="16" height="16" aria-hidden="true" class="icon-arrow-left">
                                                <use xlink:href="#new-arrow-left"></use>
                                            </svg>
                                        </button>
                                        <button
                                            class="catalog__card-image-gallery-arrow catalog__card-image-gallery-arrow--next">
                                            <svg width="16" height="16" aria-hidden="true" class="icon-arrow-right">
                                                <use xlink:href="#new-arrow-right"></use>
                                            </svg>
                                        </button>
                                    </div>
                                    <div class="catalog__card-row">
                                        <div class="catalog__card-content">
                                            <h4 class="catalog__card-title">
                                                Я люблю намаз
                                            </h4>
                                            <div class="catalog__card-price">
                                                980 ₽
                                            </div>
                                        </div>
                                        <div class="catalog__card-buy-btn">
                                            Купить
                                        </div>
                                    </div>

                                </a>
                            </li>
                            <li class="catalog__list-item">
                                <a href="#" class="catalog__card">
                                    <div class="catalog__card-image-gallery js-catalog-card-gallery">
                                        <div class="swiper-container">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <div class="catalog__card-image-gallery-card">
                                                        <img src="img/catalog-new/4.webp" alt=""
                                                            class="catalog__card-image-gallery-card-image">
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <button
                                            class="catalog__card-image-gallery-arrow catalog__card-image-gallery-arrow--prev">
                                            <svg width="16" height="16" aria-hidden="true" class="icon-arrow-left">
                                                <use xlink:href="#new-arrow-left"></use>
                                            </svg>
                                        </button>
                                        <button
                                            class="catalog__card-image-gallery-arrow catalog__card-image-gallery-arrow--next">
                                            <svg width="16" height="16" aria-hidden="true" class="icon-arrow-right">
                                                <use xlink:href="#new-arrow-right"></use>
                                            </svg>
                                        </button>
                                    </div>
                                    <div class="catalog__card-row">
                                        <div class="catalog__card-content">
                                            <h4 class="catalog__card-title">
                                                Горы и город. Следы на снегу.
                                            </h4>
                                            <div class="catalog__card-price">
                                                980 ₽
                                            </div>
                                        </div>
                                        <div class="catalog__card-buy-btn">
                                            Купить
                                        </div>
                                    </div>

                                </a>
                            </li>
                            <li class="catalog__list-item">
                                <a href="#" class="catalog__card">
                                    <div class="catalog__card-image-gallery js-catalog-card-gallery">
                                        <div class="swiper-container">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <div class="catalog__card-image-gallery-card">
                                                        <img src="img/catalog-new/5.webp" alt=""
                                                            class="catalog__card-image-gallery-card-image">
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <button
                                            class="catalog__card-image-gallery-arrow catalog__card-image-gallery-arrow--prev">
                                            <svg width="16" height="16" aria-hidden="true" class="icon-arrow-left">
                                                <use xlink:href="#new-arrow-left"></use>
                                            </svg>
                                        </button>
                                        <button
                                            class="catalog__card-image-gallery-arrow catalog__card-image-gallery-arrow--next">
                                            <svg width="16" height="16" aria-hidden="true" class="icon-arrow-right">
                                                <use xlink:href="#new-arrow-right"></use>
                                            </svg>
                                        </button>
                                    </div>
                                    <div class="catalog__card-row">
                                        <div class="catalog__card-content">
                                            <h4 class="catalog__card-title">
                                                Горы и город. Следы на снегу.
                                            </h4>
                                            <div class="catalog__card-price">
                                                980 ₽
                                            </div>
                                        </div>
                                        <div class="catalog__card-buy-btn">
                                            Купить
                                        </div>
                                    </div>

                                </a>
                            </li>
                            <li class="catalog__list-item">
                                <a href="#" class="catalog__card">
                                    <div class="catalog__card-image-gallery js-catalog-card-gallery">
                                        <div class="swiper-container">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <div class="catalog__card-image-gallery-card">
                                                        <img src="img/catalog/1.jpg" alt=""
                                                            class="catalog__card-image-gallery-card-image">
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="catalog__card-image-gallery-card">
                                                        <img src="img/catalog/1.jpg" alt=""
                                                            class="catalog__card-image-gallery-card-image">
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="catalog__card-image-gallery-card">
                                                        <img src="img/catalog/1.jpg" alt=""
                                                            class="catalog__card-image-gallery-card-image">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button
                                            class="catalog__card-image-gallery-arrow catalog__card-image-gallery-arrow--prev">
                                            <svg width="16" height="16" aria-hidden="true" class="icon-arrow-left">
                                                <use xlink:href="#new-arrow-left"></use>
                                            </svg>
                                        </button>
                                        <button
                                            class="catalog__card-image-gallery-arrow catalog__card-image-gallery-arrow--next">
                                            <svg width="16" height="16" aria-hidden="true" class="icon-arrow-right">
                                                <use xlink:href="#new-arrow-right"></use>
                                            </svg>
                                        </button>
                                    </div>

                                    <h4 class="catalog__card-title">
                                        Carhartt (бежевый)

                                        {{!-- <div class="catalog__card-fav">
                                    <svg width="16" height="16" aria-hidden="true" class="icon-star">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                </div> --}}
                                    </h4>
                                    <div class="catalog__card-category">
                                        Толстовка
                                    </div>
                                    <div class="catalog__card-price">
                                        <div class="catalog__card-price-new">
                                            7 145 P
                                        </div>
                                        <div class="catalog__card-price-old">
                                            14 290 P
                                        </div>
                                    </div>

                                </a>
                            </li>
                            <li class="catalog__list-item">
                                <a href="#" class="catalog__card">
                                    <div class="catalog__card-image-gallery js-catalog-card-gallery">
                                        <div class="swiper-container">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <div class="catalog__card-image-gallery-card">
                                                        <img src="img/catalog/2.jpg" alt=""
                                                            class="catalog__card-image-gallery-card-image">
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="catalog__card-image-gallery-card">
                                                        <img src="img/catalog/2.jpg" alt=""
                                                            class="catalog__card-image-gallery-card-image">
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="catalog__card-image-gallery-card">
                                                        <img src="img/catalog/2.jpg" alt=""
                                                            class="catalog__card-image-gallery-card-image">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button
                                            class="catalog__card-image-gallery-arrow catalog__card-image-gallery-arrow--prev">
                                            <svg width="16" height="16" aria-hidden="true" class="icon-arrow-left">
                                                <use xlink:href="#new-arrow-left"></use>
                                            </svg>
                                        </button>
                                        <button
                                            class="catalog__card-image-gallery-arrow catalog__card-image-gallery-arrow--next">
                                            <svg width="16" height="16" aria-hidden="true" class="icon-arrow-right">
                                                <use xlink:href="#new-arrow-right"></use>
                                            </svg>
                                        </button>
                                    </div>

                                    <h4 class="catalog__card-title">
                                        Adidas NMD
                                    </h4>
                                    <div class="catalog__card-category">
                                        Серый
                                    </div>
                                    <div class="catalog__card-price">
                                        7 145 P
                                    </div>

                                </a>
                            </li>
                            <li class="catalog__list-item">
                                <a href="#" class="catalog__card">
                                    <div class="catalog__card-image-gallery js-catalog-card-gallery">
                                        <div class="swiper-container">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <div class="catalog__card-image-gallery-card">
                                                        <img src="img/catalog/3.jpg" alt=""
                                                            class="catalog__card-image-gallery-card-image">
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="catalog__card-image-gallery-card">
                                                        <img src="img/catalog/3.jpg" alt=""
                                                            class="catalog__card-image-gallery-card-image">
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="catalog__card-image-gallery-card">
                                                        <img src="img/catalog/3.jpg" alt=""
                                                            class="catalog__card-image-gallery-card-image">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button
                                            class="catalog__card-image-gallery-arrow catalog__card-image-gallery-arrow--prev">
                                            <svg width="16" height="16" aria-hidden="true" class="icon-arrow-left">
                                                <use xlink:href="#new-arrow-left"></use>
                                            </svg>
                                        </button>
                                        <button
                                            class="catalog__card-image-gallery-arrow catalog__card-image-gallery-arrow--next">
                                            <svg width="16" height="16" aria-hidden="true" class="icon-arrow-right">
                                                <use xlink:href="#new-arrow-right"></use>
                                            </svg>
                                        </button>
                                    </div>

                                    <h4 class="catalog__card-title">
                                        Adidas NMD
                                    </h4>
                                    <div class="catalog__card-category">
                                        Голубой
                                    </div>
                                    <div class="catalog__card-price">
                                        <div class="catalog__card-price-new">
                                            7 145 P
                                        </div>
                                        <div class="catalog__card-price-old">
                                            14 290 P
                                        </div>
                                    </div>

                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </section>

    {{/content}}
{{/extend}}