{{#extend "layout"}}
{{#content "main"}}

<section class="catalog">
    <div class="container">
        <div class="catalog__top-row-wrapper">
            <div class="catalog__top-row catalog__top-row--narrow">
                <div class="breadcrumbs catalog__breadcrumbs">
                    <ul class="breadcrumbs__list">
                        <li class="breadcrumbs__list-item">
                            <a href="#" class="breadcrumbs__link">
                                Главная

                                <svg width="16" height="16" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="breadcrumbs__list-item">
                            <a href="#" class="breadcrumbs__link">
                                Одежда
                                <svg width="16" height="16" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="breadcrumbs__list-item active">
                            <a href="#" class="breadcrumbs__link">
                                Рубашки
                                <svg width="16" height="16" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>

                {{> catalog-filters }}
            </div>
        </div>

        <div class="catalog__content catalog__content--narrow">


            <div class="catalog__results">


                <ul class="catalog__grid">
                    <li class="catalog__grid-item">
                        <a href="#" class="catalog__grid-card">
                            <div class="catalog__grid-card-image-container">
                                <img src="img/catalog-grid/1.jpg" alt="" class="catalog__grid-card-image">
                            </div>
                            <div class="catalog__grid-card-top-row">
                                <h4 class="catalog__grid-card-title">
                                    Carhartt (бежевый)
                                </h4>
                                <div class="catalog__grid-card-price">
                                    7 490 P
                                </div>
                            </div>
                            <div class="catalog__grid-card-category">
                                Толстовка
                            </div>
                        </a>
                    </li>
                    <li class="catalog__grid-item">
                        <a href="#" class="catalog__grid-card">
                            <div class="catalog__grid-card-image-container">
                                <img src="img/catalog-grid/2.jpg" alt="" class="catalog__grid-card-image">
                            </div>
                            <div class="catalog__grid-card-top-row">
                                <h4 class="catalog__grid-card-title">
                                    Barbour (темно-синий)

                                </h4>
                                <div class="catalog__grid-card-price">
                                    13 990 P
                                </div>
                            </div>
                            <div class="catalog__grid-card-category">
                                Толстовка
                            </div>
                        </a>
                    </li>
                    <li class="catalog__grid-item">
                        <a href="#" class="catalog__grid-card">
                            <div class="catalog__grid-card-image-container">
                                <img src="img/catalog-grid/3.jpg" alt="" class="catalog__grid-card-image">
                            </div>
                            <div class="catalog__grid-card-top-row">
                                <h4 class="catalog__grid-card-title">
                                    Carhartt (голубой)
                                </h4>
                                <div class="catalog__grid-card-price">
                                    7 490 P
                                </div>
                            </div>
                            <div class="catalog__grid-card-category">
                                Толстовка
                            </div>
                        </a>
                    </li>
                    <li class="catalog__grid-item">
                        <a href="#" class="catalog__grid-card">
                            <div class="catalog__grid-card-image-container">
                                <img src="img/catalog-grid/4.jpg" alt="" class="catalog__grid-card-image">
                            </div>
                            <div class="catalog__grid-card-top-row">
                                <h4 class="catalog__grid-card-title">
                                    Carhartt (голубой)

                                </h4>
                                <div class="catalog__grid-card-price">
                                    7 490 P
                                </div>
                            </div>
                            <div class="catalog__grid-card-category">
                                Толстовка
                            </div>
                        </a>
                    </li>
                    <li class="catalog__grid-item">
                        <a href="#" class="catalog__grid-card">
                            <div class="catalog__grid-card-image-container">
                                <img src="img/catalog-grid/3.jpg" alt="" class="catalog__grid-card-image">
                            </div>
                            <div class="catalog__grid-card-top-row">
                                <h4 class="catalog__grid-card-title">
                                    Carhartt (голубой)
                                </h4>
                                <div class="catalog__grid-card-price">
                                    7 490 P
                                </div>
                            </div>
                            <div class="catalog__grid-card-category">
                                Толстовка
                            </div>
                        </a>
                    </li>
                    <li class="catalog__grid-item">
                        <a href="#" class="catalog__grid-card">
                            <div class="catalog__grid-card-image-container">
                                <img src="img/catalog-grid/4.jpg" alt="" class="catalog__grid-card-image">
                            </div>
                            <div class="catalog__grid-card-top-row">
                                <h4 class="catalog__grid-card-title">
                                    Carhartt (голубой)

                                </h4>
                                <div class="catalog__grid-card-price">
                                    7 490 P
                                </div>
                            </div>
                            <div class="catalog__grid-card-category">
                                Толстовка
                            </div>
                        </a>
                    </li>
                    <li class="catalog__grid-item">
                        <a href="#" class="catalog__grid-card">
                            <div class="catalog__grid-card-image-container">
                                <img src="img/catalog-grid/2.jpg" alt="" class="catalog__grid-card-image">
                            </div>
                            <div class="catalog__grid-card-top-row">
                                <h4 class="catalog__grid-card-title">
                                    Barbour (темно-синий)

                                </h4>
                                <div class="catalog__grid-card-price">
                                    13 990 P
                                </div>
                            </div>
                            <div class="catalog__grid-card-category">
                                Толстовка
                            </div>
                        </a>
                    </li>
                    <li class="catalog__grid-item">
                        <a href="#" class="catalog__grid-card">
                            <div class="catalog__grid-card-image-container">
                                <img src="img/catalog-grid/1.jpg" alt="" class="catalog__grid-card-image">
                            </div>
                            <div class="catalog__grid-card-top-row">
                                <h4 class="catalog__grid-card-title">
                                    Carhartt (бежевый)
                                </h4>
                                <div class="catalog__grid-card-price">
                                    7 490 P
                                </div>
                            </div>
                            <div class="catalog__grid-card-category">
                                Толстовка
                            </div>
                        </a>
                    </li>
                    <li class="catalog__grid-item">
                        <a href="#" class="catalog__grid-card">
                            <div class="catalog__grid-card-image-container">
                                <img src="img/catalog-grid/1.jpg" alt="" class="catalog__grid-card-image">
                            </div>
                            <div class="catalog__grid-card-top-row">
                                <h4 class="catalog__grid-card-title">
                                    Carhartt (бежевый)
                                </h4>
                                <div class="catalog__grid-card-price">
                                    7 490 P
                                </div>
                            </div>
                            <div class="catalog__grid-card-category">
                                Толстовка
                            </div>
                        </a>
                    </li>
                    <li class="catalog__grid-item">
                        <a href="#" class="catalog__grid-card">
                            <div class="catalog__grid-card-image-container">
                                <img src="img/catalog-grid/2.jpg" alt="" class="catalog__grid-card-image">
                            </div>
                            <div class="catalog__grid-card-top-row">
                                <h4 class="catalog__grid-card-title">
                                    Barbour (темно-синий)

                                </h4>
                                <div class="catalog__grid-card-price">
                                    13 990 P
                                </div>
                            </div>
                            <div class="catalog__grid-card-category">
                                Толстовка
                            </div>
                        </a>
                    </li>
                    <li class="catalog__grid-item">
                        <a href="#" class="catalog__grid-card">
                            <div class="catalog__grid-card-image-container">
                                <img src="img/catalog-grid/3.jpg" alt="" class="catalog__grid-card-image">
                            </div>
                            <div class="catalog__grid-card-top-row">
                                <h4 class="catalog__grid-card-title">
                                    Carhartt (голубой)
                                </h4>
                                <div class="catalog__grid-card-price">
                                    7 490 P
                                </div>
                            </div>
                            <div class="catalog__grid-card-category">
                                Толстовка
                            </div>
                        </a>
                    </li>
                    <li class="catalog__grid-item">
                        <a href="#" class="catalog__grid-card">
                            <div class="catalog__grid-card-image-container">
                                <img src="img/catalog-grid/4.jpg" alt="" class="catalog__grid-card-image">
                            </div>
                            <div class="catalog__grid-card-top-row">
                                <h4 class="catalog__grid-card-title">
                                    Carhartt (голубой)

                                </h4>
                                <div class="catalog__grid-card-price">
                                    7 490 P
                                </div>
                            </div>
                            <div class="catalog__grid-card-category">
                                Толстовка
                            </div>
                        </a>
                    </li>
                    <li class="catalog__grid-item">
                        <a href="#" class="catalog__grid-card">
                            <div class="catalog__grid-card-image-container">
                                <img src="img/catalog-grid/3.jpg" alt="" class="catalog__grid-card-image">
                            </div>
                            <div class="catalog__grid-card-top-row">
                                <h4 class="catalog__grid-card-title">
                                    Carhartt (голубой)
                                </h4>
                                <div class="catalog__grid-card-price">
                                    7 490 P
                                </div>
                            </div>
                            <div class="catalog__grid-card-category">
                                Толстовка
                            </div>
                        </a>
                    </li>
                    <li class="catalog__grid-item">
                        <a href="#" class="catalog__grid-card">
                            <div class="catalog__grid-card-image-container">
                                <img src="img/catalog-grid/4.jpg" alt="" class="catalog__grid-card-image">
                            </div>
                            <div class="catalog__grid-card-top-row">
                                <h4 class="catalog__grid-card-title">
                                    Carhartt (голубой)

                                </h4>
                                <div class="catalog__grid-card-price">
                                    7 490 P
                                </div>
                            </div>
                            <div class="catalog__grid-card-category">
                                Толстовка
                            </div>
                        </a>
                    </li>
                    <li class="catalog__grid-item">
                        <a href="#" class="catalog__grid-card">
                            <div class="catalog__grid-card-image-container">
                                <img src="img/catalog-grid/2.jpg" alt="" class="catalog__grid-card-image">
                            </div>
                            <div class="catalog__grid-card-top-row">
                                <h4 class="catalog__grid-card-title">
                                    Barbour (темно-синий)

                                </h4>
                                <div class="catalog__grid-card-price">
                                    13 990 P
                                </div>
                            </div>
                            <div class="catalog__grid-card-category">
                                Толстовка
                            </div>
                        </a>
                    </li>
                    <li class="catalog__grid-item">
                        <a href="#" class="catalog__grid-card">
                            <div class="catalog__grid-card-image-container">
                                <img src="img/catalog-grid/1.jpg" alt="" class="catalog__grid-card-image">
                            </div>
                            <div class="catalog__grid-card-top-row">
                                <h4 class="catalog__grid-card-title">
                                    Carhartt (бежевый)
                                </h4>
                                <div class="catalog__grid-card-price">
                                    7 490 P
                                </div>
                            </div>
                            <div class="catalog__grid-card-category">
                                Толстовка
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>

{{/content}}
{{/extend}}