{{#extend "layout"}}
    {{#content "main"}}


        <section class="finished">
            <div class="container">
                <a href="#" class="finished__back-link">
                    <svg width="16" height="16" aria-hidden="true" class="icon-arrow-left">
                        <use xlink:href="#arrow-left"></use>
                    </svg>
                    Завершение покупки
                </a>

                <div class="finished__content">


                    <h1 class="finished__heading">
                        <svg width="16" height="16" aria-hidden="true" class="icon-finished-checkmark">
                            <use xlink:href="#finished-checkmark"></use>
                        </svg>
                        Ваш заказ успешно оформлен!
                    </h1>
                    <div class="finished__text">
                        <p>
                            Номер заказа: <em>46324622</em>
                        </p>
                        <p>
                            Спасибо за то, что выбираете UMMALAND!
                            Мы отправили письмо с подтверждением на Ivanov@mail.ru

                        </p>
                    </div>
                    <div class="finished__order">
                        <h2 class="finished__order-name">
                            Заказ №46324622
                        </h2>
                        <ul class="finished__order-list">
                            <li class="finished__order-list-item">
                                <div class="finished__order-card">
                                    <div class="finished__order-card-image-container">

                                    </div>
                                    <div class="finished__order-card-content">
                                        <div class="finished__order-card-content-inner">
                                            <h3 class="finished__order-card-title">
                                                Город и горы.<br>
                                                Следы на снегу.
                                            </h3>

                                        </div>
                                        <div class="finished__order-card-price">
                                            14 290 P
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="finished__order-list-item">
                                <div class="finished__order-card">
                                    <div class="finished__order-card-image-container">

                                    </div>
                                    <div class="finished__order-card-content">
                                        <div class="finished__order-card-content-inner">
                                            <h3 class="finished__order-card-title">
                                                Город и горы.<br>
                                                Следы на снегу.
                                            </h3>

                                        </div>
                                        <div class="finished__order-card-price">
                                            <div class="finished__order-card-price-old"> 14 290 P </div>
                                            <div class="finished__order-card-price-new">
                                                7 145 P
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="finished__order-list-item">
                                <div class="finished__order-card">
                                    <div class="finished__order-card-image-container">

                                    </div>
                                    <div class="finished__order-card-content">
                                        <div class="finished__order-card-content-inner">
                                            <h3 class="finished__order-card-title">
                                                Город и горы.<br>
                                                Следы на снегу.
                                            </h3>

                                        </div>
                                        <div class="finished__order-card-price">
                                            14 290 P
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="finished__totals finished__totals--info">
                            <div class="finished__totals-item">
                                <div class="finished__totals-item-key">
                                    Адрес доставки
                                </div>
                                <div class="finished__totals-item-value">
                                    Казань, Некрасова 9 / 34
                                </div>
                            </div>
                            <div class="finished__totals-item">
                                <div class="finished__totals-item-key">
                                    Способ оплаты
                                </div>
                                <div class="finished__totals-item-value">
                                    Карта Visa (****5341)
                                </div>
                            </div>
                        </div>
                        <div class="finished__totals">
                            <div class="finished__totals-item">
                                <div class="finished__totals-item-key">
                                    Скидка
                                </div>
                                <div class="finished__totals-item-value">
                                    - 1 000 Р
                                </div>
                            </div>
                            <div class="finished__totals-item">
                                <div class="finished__totals-item-key">
                                    Доставка
                                </div>
                                <div class="finished__totals-item-value">
                                    1 000 Р
                                </div>
                            </div>
                            <div class="finished__totals-item finished__totals-item--total">
                                <div class="finished__totals-item-key">
                                    Итого:
                                </div>
                                <div class="finished__totals-item-value">
                                    14 290 P
                                </div>
                            </div>
                        </div>
                    </div>
                    {{!-- <div class="finished__gift">
                <svg width="16" height="16" aria-hidden="true" class="icon-gift">
                    <use xlink:href="#gift"></use>
                </svg>
                <svg width="16" height="16" aria-hidden="true" class="icon-gift-thick">
                    <use xlink:href="#gift-thick"></use>
                </svg>
                <img src="img/gift.jpg" alt="" class="finished__gift-image">
                <div class="finished__gift-content">
                    <p>
                        Расскажи про покупку в соцсетях
                        и получи подарок - <a href="#">Стикерпак Outpac</a><br>
                        <a href="#" style="color: #AC9F9F;">
                            (придет вместе с посылкой)
                        </a>
                    </p>
                </div>
                <div class="finished__gift-content-mobile">
                    Расскажи про покупку в соцсетях
                    и получи подарок! <a href="#">Подробнее…</a>
                </div>
                <a href="#" class="finished__gift-share">
                    Рассказать о покупке
                </a>
            </div> --}}
                </div>
            </div>
        </section>

    {{/content}}
{{/extend}}