{{#extend "layout"}}
{{#content "main"}}



<section class="home">
    <div class="container">
        <div class="home__content">
            <div class="home__slider js-home-slider">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="home__slider-card">
                                <div class="home__slider-card-bg">
                                    <img src="img/home/1.jpg" alt="" class="home__slider-card-bg-image">
                                </div>
                                <div class="home__slider-card-content">
                                    <h3 class="home__slider-card-title">
                                        Air Max 98
                                    </h3>
                                    <div class="home__slider-card-text">
                                        Модель обрела новую жизнь благодаря коллаборации с Supreme, после чего индустрия
                                        с
                                        нетерпением ожидала возвращение силуэта. Air Max 98 опередили время и выглядят
                                        аутентично даже спустя 20 лет
                                    </div>
                                    <a href="#" class="home__slider-card-learn-more">
                                        УЗнать больше
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="home__slider-card">
                                <div class="home__slider-card-bg">
                                    <img src="img/home/2.jpg" alt="" class="home__slider-card-bg-image">
                                </div>
                                <div
                                    class="home__slider-card-content home__slider-card-content--white home__slider-card-content--white-on-mobile">
                                    <h3 class="home__slider-card-title">
                                        Stussy
                                    </h3>
                                    <div class="home__slider-card-text">
                                        Рады сообщить, что в Outpac поступила летняя коллекция калифорнийского бренда.
                                        Футболки,
                                        толстовки, худи уже доступны в нашем магазине
                                    </div>
                                    <a href="#" class="home__slider-card-learn-more">
                                        УЗнать больше
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="home__slider-card">
                                <div class="home__slider-card-bg">
                                    <img src="img/home/3.jpg" alt="" class="home__slider-card-bg-image">
                                </div>
                                <div class="home__slider-card-content home__slider-card-content--white-on-mobile">
                                    <h3 class="home__slider-card-title">
                                        Рубашки Carhartt WIP
                                    </h3>
                                    <div class="home__slider-card-text">
                                        Выполненные из высокопрочного хлопка, рубашки с накладным карманом на груди
                                        передают
                                        культурное наследие американского бренда и однозначно разбавят летний гардероб
                                    </div>
                                    <a href="#" class="home__slider-card-learn-more">
                                        УЗнать больше
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="home__slider-pagination">

                </div>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}