{{#extend "layout"}}
{{#content "main"}}

<section class="register">
    <div class="container">
        <div class="register__row">
            <div class="register__left-col">
                <h2 class="account-heading register__heading">
                    Личный кабинет
                </h2>
                <nav class="register__account-nav">
                    <ul class="register__account-nav-list">
                        <li class="register__account-nav-list-item">
                            <a href="#" class="register__account-nav-link">
                                Информация
                            </a>
                        </li>
                        <li class="register__account-nav-list-item">
                            <a href="#" class="register__account-nav-link">
                                Мои заказы
                            </a>
                        </li>
                        <li class="register__account-nav-list-item active">
                            <a href="#" class="register__account-nav-link">
                                Возврат товара
                            </a>
                        </li>
                        <li class="register__account-nav-list-item">
                            <a href="#" class="register__account-nav-link">
                                Адресная книга
                            </a>
                        </li>
                        <li class="register__account-nav-list-item">
                            <a href="#" class="register__account-nav-link">
                                Избранное
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="register__right-col">
                <h2 class="account-heading register__heading">
                    Возврат товара
                </h2>
                <div class="register__my-orders register__my-orders--returns">
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    Дата возврата
                                </th>
                                <th>
                                    Номер возврата
                                </th>
                                <th>
                                    На сумму
                                </th>
                                <th>
                                    Статус
                                </th>
                               
                                <th>

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    23.08.2020 15:30
                                </td>
                                <td>
                                    ELR524441
                                </td>
                                <td>
                                    14 290 P
                                </td>
                              
                                <td>
                                    <div class="register__my-orders-status register__my-orders-status--delivered">
                                        Обрабатывается
                                    </div>
                                </td>
                                <td>
                                    <a href="#" class="register__my-orders-link">
                                        Подробнее
                                        <svg width="16" height="16" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#arrow-right"></use>
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    23.08.2020 15:30
                                </td>
                                <td>
                                    ELR524441
                                </td>
                                <td>
                                    14 290 P
                                </td>
                            
                                <td>
                                    <div class="register__my-orders-status register__my-orders-status--delivered">
                                        Обрабатывается
                                    </div>
                                </td>
                                <td>
                                    <a href="#" class="register__my-orders-link">
                                        Подробнее
                                        <svg width="16" height="16" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#arrow-right"></use>
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    23.08.2020 15:30
                                </td>
                                <td>
                                    ELR524441
                                </td>
                                <td>
                                    14 290 P
                                </td>
                             
                                <td>
                                    <div class="register__my-orders-status">
                                        Возврат завершен
                                    </div>
                                </td>
                                <td>
                                    <a href="#" class="register__my-orders-link">
                                        Подробнее
                                        <svg width="16" height="16" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#arrow-right"></use>
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    23.08.2020 15:30
                                </td>
                                <td>
                                    ELR524441
                                </td>
                                <td>
                                    14 290 P
                                </td>
                             
                                <td>
                                    <div class="register__my-orders-status">
                                        Возврат завершен
                                    </div>
                                </td>
                                <td>
                                    <a href="#" class="register__my-orders-link">
                                        Подробнее
                                        <svg width="16" height="16" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#arrow-right"></use>
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    23.08.2020 15:30
                                </td>
                                <td>
                                    ELR524441
                                </td>
                                <td>
                                    14 290 P
                                </td>
                             
                                <td>
                                    <div class="register__my-orders-status">
                                        Возврат завершен
                                    </div>
                                </td>
                                <td>
                                    <a href="#" class="register__my-orders-link">
                                        Подробнее
                                        <svg width="16" height="16" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#arrow-right"></use>
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    23.08.2020 15:30
                                </td>
                                <td>
                                    ELR524441
                                </td>
                                <td>
                                    14 290 P
                                </td>
                             
                                <td>
                                    <div class="register__my-orders-status">
                                        Возврат завершен
                                    </div>
                                </td>
                                <td>
                                    <a href="#" class="register__my-orders-link">
                                        Подробнее
                                        <svg width="16" height="16" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#arrow-right"></use>
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    23.08.2020 15:30
                                </td>
                                <td>
                                    ELR524441
                                </td>
                                <td>
                                    14 290 P
                                </td>
                             
                                <td>
                                    <div class="register__my-orders-status">
                                        Возврат завершен
                                    </div>
                                </td>
                                <td>
                                    <a href="#" class="register__my-orders-link">
                                        Подробнее
                                        <svg width="16" height="16" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#arrow-right"></use>
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                         
                        </tbody>
                    </table>
                </div>
                <div class="register__my-orders-mobile">
                    <ul class="register__my-orders-mobile-list">
                        <li class="register__my-orders-mobile-list-item">
                            <a href="#" class="register__my-orders-mobile-card">
                                <div class="register__my-orders-mobile-card-image-container">
                                    <img src="img/checkout/cart-1.jpg" alt=""
                                        class="register__my-orders-mobile-card-image">
                                </div>
                                <div class="register__my-orders-mobile-card-content">
                                    <h4 class="register__my-orders-mobile-card-title">
                                        Nike Air Max 98
                                    </h4>
                                    <div class="register__my-orders-mobile-card-date">
                                        20.10.2020
                                    </div>
                                    <div class="register__my-orders-mobile-card-price">
                                        14 290 P
                                    </div>
                                    <div
                                        class="register__my-orders-mobile-card-status register__my-orders-mobile-card-status--delivered">

                                    </div>
                                </div>
                            </a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}