{{#extend "layout"}}
    {{#content "main"}}

        <section class="register">
            <div class="container">
                <div class="register__row">
                    <div class="register__left-col">
                        <h2 class="account-heading register__heading">
                            Личный кабинет
                        </h2>
                        <nav class="register__account-nav">
                            <ul class="register__account-nav-list">
                                <li class="register__account-nav-list-item">
                                    <a href="#" class="register__account-nav-link">
                                        Информация
                                    </a>
                                </li>
                                <li class="register__account-nav-list-item active">
                                    <a href="#" class="register__account-nav-link">
                                        Мои заказы
                                    </a>
                                </li>
                                <li class="register__account-nav-list-item">
                                    <a href="#" class="register__account-nav-link">
                                        Возврат товара
                                    </a>
                                </li>
                                <li class="register__account-nav-list-item">
                                    <a href="#" class="register__account-nav-link">
                                        Адресная книга
                                    </a>
                                </li>
                                <li class="register__account-nav-list-item">
                                    <a href="#" class="register__account-nav-link">
                                        Избранное
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="register__right-col">
                        <h2 class="account-heading register__heading">
                            <a href="#" class="register__heading-back-link">
                                <svg width="16" height="16" aria-hidden="true" class="icon-arrow-left">
                                    <use xlink:href="#arrow-left"></use>
                                </svg>
                                Заказ № ELR524441
                            </a>
                        </h2>
                        <div class="register__my-orders register__my-orders--order">
                            <table>
                                <thead>
                                    <tr>
                                        <th>
                                            Товар
                                        </th>
                                        <th>
                                            Артикул
                                        </th>
                                        <th>
                                            Цена
                                        </th>
                                        <th>
                                            Дата доставки
                                        </th>
                                        <th>
                                            Статус
                                        </th>
                                        <th>
                                            Возврат
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <a href="#"
                                                class="register__my-orders-mobile-card register__my-orders-mobile-card--separate">
                                                <div class="register__my-orders-mobile-card-image-container">

                                                </div>
                                                <div class="register__my-orders-mobile-card-content">
                                                    <h4 class="register__my-orders-mobile-card-title">
                                                        Город и горы.<br>
                                                        Следы на снегу.
                                                    </h4>

                                                </div>
                                            </a>
                                        </td>
                                        <td>
                                            4635673
                                        </td>
                                        <td>
                                            <strong>
                                                14 290 P
                                            </strong>
                                        </td>
                                        <td>
                                            23.08.2020
                                        </td>
                                        <td>
                                            Заказ доставлен
                                        </td>
                                        <td>
                                            <a href="#" class="register__my-orders-return-btn">
                                                Оформить возврат
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#"
                                                class="register__my-orders-mobile-card register__my-orders-mobile-card--separate">
                                                <div class="register__my-orders-mobile-card-image-container">

                                                </div>
                                                <div class="register__my-orders-mobile-card-content">
                                                    <h4 class="register__my-orders-mobile-card-title">
                                                        Город и горы.<br>
                                                        Следы на снегу.
                                                    </h4>

                                                </div>
                                            </a>
                                        </td>
                                        <td>
                                            4635673
                                        </td>
                                        <td>
                                            <strong>
                                                14 290 P
                                            </strong>
                                        </td>
                                        <td>
                                            23.08.2020
                                        </td>
                                        <td>
                                            Заказ доставлен
                                        </td>
                                        <td>
                                            <a href="#" class="register__my-orders-return-btn">
                                                Оформить возврат
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#"
                                                class="register__my-orders-mobile-card register__my-orders-mobile-card--separate">
                                                <div class="register__my-orders-mobile-card-image-container">

                                                </div>
                                                <div class="register__my-orders-mobile-card-content">
                                                    <h4 class="register__my-orders-mobile-card-title">
                                                        Город и горы.<br>
                                                        Следы на снегу.
                                                    </h4>

                                                </div>
                                            </a>
                                        </td>
                                        <td>
                                            4635673
                                        </td>
                                        <td>
                                            <strong>
                                                14 290 P
                                            </strong>
                                        </td>
                                        <td>
                                            23.08.2020
                                        </td>
                                        <td>
                                            Заказ доставлен
                                        </td>
                                        <td>
                                            <a href="#" class="register__my-orders-return-btn">
                                                Оформить возврат
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#"
                                                class="register__my-orders-mobile-card register__my-orders-mobile-card--separate">
                                                <div class="register__my-orders-mobile-card-image-container">

                                                </div>
                                                <div class="register__my-orders-mobile-card-content">
                                                    <h4 class="register__my-orders-mobile-card-title">
                                                        Город и горы.<br>
                                                        Следы на снегу.
                                                    </h4>
                                                </div>
                                            </a>
                                        </td>
                                        <td>
                                            4635673
                                        </td>
                                        <td>
                                            <strong>
                                                14 290 P
                                            </strong>

                                        </td>
                                        <td>
                                            23.08.2020
                                        </td>
                                        <td>
                                            Заказ доставлен
                                        </td>
                                        <td>
                                            <a href="#" class="register__my-orders-return-btn">
                                                Оформить возврат
                                            </a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="register__my-orders-mobile">
                            <ul class="register__my-orders-mobile-list">
                                <li
                                    class="register__my-orders-mobile-list-item register__my-orders-mobile-list-item--order">
                                    <a href="#" class="register__my-orders-mobile-card">
                                        <div class="register__my-orders-mobile-card-image-container">

                                        </div>
                                        <div class="register__my-orders-mobile-card-content">
                                            <h4 class="register__my-orders-mobile-card-title">
                                                Nike Air Max 98
                                            </h4>
                                            <div class="register__my-orders-mobile-card-date">
                                                20.10.2020
                                            </div>
                                            <div class="register__my-orders-mobile-card-price">
                                                14 290 P
                                            </div>
                                            <div
                                                class="register__my-orders-mobile-card-status register__my-orders-mobile-card-status--delivered">

                                            </div>
                                        </div>
                                    </a>
                                    <div class="register__my-orders-mobile-info">
                                        <div class="register__my-orders-mobile-info-item">
                                            <div class="register__my-orders-mobile-info-item-key">
                                                Артикул
                                            </div>
                                            <div class="register__my-orders-mobile-info-item-value">
                                                14635673
                                            </div>
                                        </div>
                                        <div class="register__my-orders-mobile-info-item">
                                            <div class="register__my-orders-mobile-info-item-key">
                                                Дата доставки
                                            </div>
                                            <div class="register__my-orders-mobile-info-item-value">
                                                23.08.2020
                                            </div>
                                        </div>
                                        <div class="register__my-orders-mobile-info-item">
                                            <div class="register__my-orders-mobile-info-item-key">
                                                Статус
                                            </div>
                                            <div class="register__my-orders-mobile-info-item-value">
                                                Заказ доставлен
                                            </div>
                                        </div>
                                        <div class="register__my-orders-mobile-info-item">
                                            <div class="register__my-orders-mobile-info-item-key">
                                                Цена
                                            </div>
                                            <div class="register__my-orders-mobile-info-item-value">
                                                14 290 P
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" class="register__my-orders-mobile-make-return">
                                        Оформить возврат
                                    </a>
                                </li>
                                <li
                                    class="register__my-orders-mobile-list-item register__my-orders-mobile-list-item--order">
                                    <a href="#" class="register__my-orders-mobile-card">
                                        <div class="register__my-orders-mobile-card-image-container">

                                        </div>
                                        <div class="register__my-orders-mobile-card-content">
                                            <h4 class="register__my-orders-mobile-card-title">
                                                Nike Air Max 98
                                            </h4>
                                            <div class="register__my-orders-mobile-card-date">
                                                20.10.2020
                                            </div>
                                            <div class="register__my-orders-mobile-card-price">
                                                14 290 P
                                            </div>
                                            <div
                                                class="register__my-orders-mobile-card-status register__my-orders-mobile-card-status--delivered">

                                            </div>
                                        </div>
                                    </a>
                                    <div class="register__my-orders-mobile-info">
                                        <div class="register__my-orders-mobile-info-item">
                                            <div class="register__my-orders-mobile-info-item-key">
                                                Артикул
                                            </div>
                                            <div class="register__my-orders-mobile-info-item-value">
                                                14635673
                                            </div>
                                        </div>
                                        <div class="register__my-orders-mobile-info-item">
                                            <div class="register__my-orders-mobile-info-item-key">
                                                Дата доставки
                                            </div>
                                            <div class="register__my-orders-mobile-info-item-value">
                                                23.08.2020
                                            </div>
                                        </div>
                                        <div class="register__my-orders-mobile-info-item">
                                            <div class="register__my-orders-mobile-info-item-key">
                                                Статус
                                            </div>
                                            <div class="register__my-orders-mobile-info-item-value">
                                                Заказ доставлен
                                            </div>
                                        </div>
                                        <div class="register__my-orders-mobile-info-item">
                                            <div class="register__my-orders-mobile-info-item-key">
                                                Цена
                                            </div>
                                            <div class="register__my-orders-mobile-info-item-value">
                                                14 290 P
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" class="register__my-orders-mobile-make-return">
                                        Оформить возврат
                                    </a>
                                </li>
                                <li
                                    class="register__my-orders-mobile-list-item register__my-orders-mobile-list-item--order">
                                    <a href="#" class="register__my-orders-mobile-card">
                                        <div class="register__my-orders-mobile-card-image-container">

                                        </div>
                                        <div class="register__my-orders-mobile-card-content">
                                            <h4 class="register__my-orders-mobile-card-title">
                                                Nike Air Max 98
                                            </h4>
                                            <div class="register__my-orders-mobile-card-date">
                                                20.10.2020
                                            </div>
                                            <div class="register__my-orders-mobile-card-price">
                                                14 290 P
                                            </div>
                                            <div
                                                class="register__my-orders-mobile-card-status register__my-orders-mobile-card-status--delivered">

                                            </div>
                                        </div>
                                    </a>
                                    <div class="register__my-orders-mobile-info">
                                        <div class="register__my-orders-mobile-info-item">
                                            <div class="register__my-orders-mobile-info-item-key">
                                                Артикул
                                            </div>
                                            <div class="register__my-orders-mobile-info-item-value">
                                                14635673
                                            </div>
                                        </div>
                                        <div class="register__my-orders-mobile-info-item">
                                            <div class="register__my-orders-mobile-info-item-key">
                                                Дата доставки
                                            </div>
                                            <div class="register__my-orders-mobile-info-item-value">
                                                23.08.2020
                                            </div>
                                        </div>
                                        <div class="register__my-orders-mobile-info-item">
                                            <div class="register__my-orders-mobile-info-item-key">
                                                Статус
                                            </div>
                                            <div class="register__my-orders-mobile-info-item-value">
                                                Заказ доставлен
                                            </div>
                                        </div>
                                        <div class="register__my-orders-mobile-info-item">
                                            <div class="register__my-orders-mobile-info-item-key">
                                                Цена
                                            </div>
                                            <div class="register__my-orders-mobile-info-item-value">
                                                14 290 P
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" class="register__my-orders-mobile-make-return">
                                        Оформить возврат
                                    </a>
                                </li>
                                <li
                                    class="register__my-orders-mobile-list-item register__my-orders-mobile-list-item--order">
                                    <a href="#" class="register__my-orders-mobile-card">
                                        <div class="register__my-orders-mobile-card-image-container">

                                        </div>
                                        <div class="register__my-orders-mobile-card-content">
                                            <h4 class="register__my-orders-mobile-card-title">
                                                Nike Air Max 98
                                            </h4>
                                            <div class="register__my-orders-mobile-card-date">
                                                20.10.2020
                                            </div>
                                            <div class="register__my-orders-mobile-card-price">
                                                14 290 P
                                            </div>
                                            <div
                                                class="register__my-orders-mobile-card-status register__my-orders-mobile-card-status--delivered">

                                            </div>
                                        </div>
                                    </a>
                                    <div class="register__my-orders-mobile-info">
                                        <div class="register__my-orders-mobile-info-item">
                                            <div class="register__my-orders-mobile-info-item-key">
                                                Артикул
                                            </div>
                                            <div class="register__my-orders-mobile-info-item-value">
                                                14635673
                                            </div>
                                        </div>
                                        <div class="register__my-orders-mobile-info-item">
                                            <div class="register__my-orders-mobile-info-item-key">
                                                Дата доставки
                                            </div>
                                            <div class="register__my-orders-mobile-info-item-value">
                                                23.08.2020
                                            </div>
                                        </div>
                                        <div class="register__my-orders-mobile-info-item">
                                            <div class="register__my-orders-mobile-info-item-key">
                                                Статус
                                            </div>
                                            <div class="register__my-orders-mobile-info-item-value">
                                                Заказ доставлен
                                            </div>
                                        </div>
                                        <div class="register__my-orders-mobile-info-item">
                                            <div class="register__my-orders-mobile-info-item-key">
                                                Цена
                                            </div>
                                            <div class="register__my-orders-mobile-info-item-value">
                                                14 290 P
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" class="register__my-orders-mobile-make-return">
                                        Оформить возврат
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <div class="register__rules">
                            <ul class="account-list">
                                <li class="account-list-item">
                                    <div class="account-list-card">
                                        Интернет магазин OUTPAC работает согласно российскому законодательству. В нашем
                                        интернет магазине, Вы можете обменять любое приобретенное изделие.
                                    </div>

                                </li>
                                <li class="account-list-item">
                                    <div class="account-list-card">
                                        Гарантия безпроблемного возврата в течении 30 дней
                                    </div>

                                </li>
                                <li class="account-list-item">
                                    <div class="account-list-card">
                                        Гарантия качества покупки. Гарантия 3 месяца
                                    </div>

                                </li>
                                <li class="account-list-item">
                                    <div class="account-list-card">
                                        Ваши права защищены
                                    </div>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    {{/content}}
{{/extend}}