{{#extend "layout"}}
    {{#content "main"}}


        <section class="product">
            <div class="container">
                <div class="product__row">
                    <div class="product__left-col">
                        <div class="product__images-wrapper">


                            <div class="product__images js-product-images-slider">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="product__image-link">
                                                <img src="img/product-detail.webp" alt="" class="product__image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="product__image-link">
                                                <img src="img/product-detail.webp" alt="" class="product__image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="product__image-link">
                                                <img src="img/product-detail.webp" alt="" class="product__image">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product__images-pagination">

                                </div>
                            </div>
                            <button class="product__images-toggle-btn" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="29" height="11" viewBox="0 0 29 11">
                                    <path
                                        d="M28.2091 0.0927871C28.4337 -0.0676955 28.7468 -0.0156305 28.9073 0.208998C29.0678 0.433674 29.0157 0.746716 28.7911 0.90724L14.7911 10.9072C14.6172 11.0314 14.3829 11.0314 14.2091 10.9072L0.209055 0.90724L0.132883 0.839857C-0.0251361 0.669478 -0.0475045 0.405486 0.0928444 0.208998C0.233387 0.0123312 0.490651 -0.0517481 0.703196 0.0429824L0.791087 0.0927871L14.5001 9.88478L28.2091 0.0927871Z" />
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="product__right-col">
                        <div class="product__content">
                            <div class="product__season">
                                Мансур Ладанов
                            </div>
                            <h1 class="product__title">
                                ГОры и город.<br>
                                Следы на снегу
                            </h1>
                            <div class="product__prices">
                                22 900 ₽
                            </div>
                            <div class="product__description">
                                <div class="product__description-text">
                                    <p>
                                        &laquo;Горы и&nbsp;город&raquo;&nbsp;&mdash; серия книг о&nbsp;повседневной
                                        жизни обычного
                                        подростка-мусульманина, его взрослении и&nbsp;поисках своего пути.
                                        Ненавязчиво, без
                                        скучных назиданий и&nbsp;нравоучений наставляет детей, помогает
                                        им&nbsp;разобраться в
                                        своих чувствах, расставить приоритеты. Книга написана мусульманином
                                        и&nbsp;в&nbsp;первую
                                        очередь для мусульман, однако по&nbsp;содержанию она не&nbsp;религиозная.
                                        В&nbsp;ней нет
                                        отсылок к&nbsp;каноническим текстам, нет элементов обучения или религиозного
                                        просвещения.
                                    </p>
                                    <p>
                                        Издательство: «UMMALAND»<br>
                                        Возраст: 12+<br>
                                        ISBN: 978-5-6052179-0-9<br>
                                        Страниц: 208
                                    </p>


                                </div>
                            </div>
                            <form class="product__variants" method="POST" action="/">
                                <button class="product__variants-add-to-cart">
                                    <svg width="16" height="16" aria-hidden="true" class="icon-arrow-down">
                                        <use xlink:href="#heart"></use>
                                    </svg>
                                    В корзину
                                </button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <section class="selected-products">
            <div class="container">
                <div class="selected-products__content">
                    <div class="selected-products__top-row">
                        <h2 class="selected-products__heading">
                            Канцтовары
                        </h2>
                    </div>
                    <ul class="catalog__list">
                        <li class="catalog__list-item">
                            <a href="#" class="catalog__card">
                                <div class="catalog__card-image-gallery js-catalog-card-gallery">
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="catalog__card-image-gallery-card">
                                                    <img src="img/catalog-new/1.webp" alt=""
                                                        class="catalog__card-image-gallery-card-image">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <button
                                        class="catalog__card-image-gallery-arrow catalog__card-image-gallery-arrow--prev">
                                        <svg width="16" height="16" aria-hidden="true" class="icon-arrow-left">
                                            <use xlink:href="#new-arrow-left"></use>
                                        </svg>
                                    </button>
                                    <button
                                        class="catalog__card-image-gallery-arrow catalog__card-image-gallery-arrow--next">
                                        <svg width="16" height="16" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#new-arrow-right"></use>
                                        </svg>
                                    </button>
                                </div>
                                <div class="catalog__card-row">
                                    <div class="catalog__card-content">
                                        <h4 class="catalog__card-title">
                                            Горы и город.<br>
                                            Следы на снегу.
                                        </h4>
                                        <div class="catalog__card-price">
                                            980 ₽
                                        </div>
                                    </div>
                                    <div class="catalog__card-buy-btn">
                                        Купить
                                    </div>
                                </div>

                            </a>
                        </li>
                        <li class="catalog__list-item">
                            <a href="#" class="catalog__card">
                                <div class="catalog__card-image-gallery js-catalog-card-gallery">
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="catalog__card-image-gallery-card">
                                                    <img src="img/catalog-new/2.webp" alt=""
                                                        class="catalog__card-image-gallery-card-image">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <button
                                        class="catalog__card-image-gallery-arrow catalog__card-image-gallery-arrow--prev">
                                        <svg width="16" height="16" aria-hidden="true" class="icon-arrow-left">
                                            <use xlink:href="#new-arrow-left"></use>
                                        </svg>
                                    </button>
                                    <button
                                        class="catalog__card-image-gallery-arrow catalog__card-image-gallery-arrow--next">
                                        <svg width="16" height="16" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#new-arrow-right"></use>
                                        </svg>
                                    </button>
                                </div>
                                <div class="catalog__card-row">
                                    <div class="catalog__card-content">
                                        <h4 class="catalog__card-title">
                                            Ежедневник
                                        </h4>
                                        <div class="catalog__card-price">
                                            980 ₽
                                        </div>
                                    </div>
                                    <div class="catalog__card-buy-btn">
                                        Купить
                                    </div>
                                </div>

                            </a>
                        </li>
                        <li class="catalog__list-item">
                            <a href="#" class="catalog__card">
                                <div class="catalog__card-image-gallery js-catalog-card-gallery">
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="catalog__card-image-gallery-card">
                                                    <img src="img/catalog-new/3.webp" alt=""
                                                        class="catalog__card-image-gallery-card-image">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <button
                                        class="catalog__card-image-gallery-arrow catalog__card-image-gallery-arrow--prev">
                                        <svg width="16" height="16" aria-hidden="true" class="icon-arrow-left">
                                            <use xlink:href="#new-arrow-left"></use>
                                        </svg>
                                    </button>
                                    <button
                                        class="catalog__card-image-gallery-arrow catalog__card-image-gallery-arrow--next">
                                        <svg width="16" height="16" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#new-arrow-right"></use>
                                        </svg>
                                    </button>
                                </div>
                                <div class="catalog__card-row">
                                    <div class="catalog__card-content">
                                        <h4 class="catalog__card-title">
                                            Я люблю намаз
                                        </h4>
                                        <div class="catalog__card-price">
                                            980 ₽
                                        </div>
                                    </div>
                                    <div class="catalog__card-buy-btn">
                                        Купить
                                    </div>
                                </div>

                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

    {{/content}}
{{/extend}}