{{#extend "layout"}}
    {{#content "main"}}

        <section class="register">
            <div class="container">
                <div class="register__row">
                    <div class="register__left-col">
                        <h2 class="account-heading register__heading">
                            Личный кабинет
                        </h2>
                        <nav class="register__account-nav">
                            <ul class="register__account-nav-list">
                                <li class="register__account-nav-list-item">
                                    <a href="#" class="register__account-nav-link">
                                        Информация
                                    </a>
                                </li>
                                <li class="register__account-nav-list-item active">
                                    <a href="#" class="register__account-nav-link">
                                        Мои заказы
                                    </a>
                                </li>
                                <li class="register__account-nav-list-item">
                                    <a href="#" class="register__account-nav-link">
                                        Возврат товара
                                    </a>
                                </li>
                                <li class="register__account-nav-list-item">
                                    <a href="#" class="register__account-nav-link">
                                        Адресная книга
                                    </a>
                                </li>
                                <li class="register__account-nav-list-item">
                                    <a href="#" class="register__account-nav-link">
                                        Избранное
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="register__right-col">
                        <h2 class="account-heading register__heading">
                            <a href="#" class="register__heading-back-link">
                                <svg width="16" height="16" aria-hidden="true" class="icon-arrow-left">
                                    <use xlink:href="#arrow-left"></use>
                                </svg>
                                Подтверждение возврата
                            </a>
                        </h2>

                        <div class="finished__content finished__content--return">


                            <h1 class="finished__heading">
                                <svg width="16" height="16" aria-hidden="true" class="icon-finished-checkmark">
                                    <use xlink:href="#finished-checkmark"></use>
                                </svg>
                                Ваш возврат успешно оформлен!
                            </h1>
                            <div class="finished__text">
                                <p>
                                    Номер возврата: <em>46324622</em>
                                </p>
                                <p>
                                    Вы получите подтверждение на электронную почту

                                </p>
                            </div>

                            {{!-- <div class="finished__gift">
                                <svg width="16" height="16" aria-hidden="true" class="icon-gift">
                                    <use xlink:href="#gift"></use>
                                </svg>
                                <svg width="16" height="16" aria-hidden="true" class="icon-gift-thick">
                                    <use xlink:href="#gift-thick"></use>
                                </svg>
                                <img src="img/gift.jpg" alt="" class="finished__gift-image">
                                <div class="finished__gift-content">
                                    <p>
                                        Расскажи про покупку в соцсетях
                                        и получи подарок - <a href="#">Стикерпак Outpac</a><br>
                                        <a href="#" style="color: #AC9F9F;">
                                            (придет вместе с посылкой)
                                        </a>
                                    </p>
                                </div>
                                <div class="finished__gift-content-mobile">
                                    Расскажи про покупку в соцсетях
                                    и получи подарок! <a href="#">Подробнее…</a>
                                </div>
                                <a href="#" class="finished__gift-share">
                                    Рассказать о покупке
                                </a>
                            </div> --}}
                        </div>

                        <div class="register__return-next-steps">
                            <h2 class="register__return-next-steps-heading">
                                Следующие шаги:
                            </h2>
                            <ul class="register__return-next-steps-list">
                                <li class="register__return-next-steps-item">
                                    <div class="register__return-next-steps-card">
                                        <div class="register__return-next-steps-card-icon-container">
                                            <svg width="16" height="16" aria-hidden="true" class="icon-doc">
                                                <use xlink:href="#doc"></use>
                                            </svg>
                                        </div>
                                        <div class="register__return-next-steps-card-content">
                                            <h3 class="register__return-next-steps-card-title">
                                                1. Подготовьте все документы
                                            </h3>
                                            <div class="register__return-next-steps-card-text">
                                                В электронном письме-подтверждении о сборе возврата вы найдете список
                                                документов, которые необходимо передать курьеру. Эти документы также
                                                находились
                                                внутри вашей посылки. Если вы их не получили, вы можете скачать их по
                                                ссылке
                                                ниже и распечатать
                                            </div>
                                            <a href="#" class="register__return-next-steps-card-btn">
                                                Посмотреть документы
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="register__return-next-steps-item">
                                    <div class="register__return-next-steps-card">
                                        <div class="register__return-next-steps-card-icon-container">
                                            <svg width="16" height="16" aria-hidden="true" class="icon-box">
                                                <use xlink:href="#box"></use>
                                            </svg>
                                        </div>
                                        <div class="register__return-next-steps-card-content">
                                            <h3 class="register__return-next-steps-card-title">
                                                2. Подготовьте посылку
                                            </h3>
                                            <div class="register__return-next-steps-card-text">
                                                Аккуратно сложите все товары, которые подлежат возврату, а также их
                                                фирменную
                                                упаковку в коробку Outpac. Разместите счет-фактуру и подписанную копию
                                                накладной
                                                на внешней сотороне коробки.
                                            </div>

                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </section>

    {{/content}}
{{/extend}}