.finished {
    padding-top: 23rem;
    margin-bottom: 24rem;

    @include breakpoint(mobile) {
        padding-top: 14rem;
        margin-bottom: 5rem;
    }
}

.finished__back-link {
    display: inline-flex;
    align-items: center;
    color: #313131;
    font-size: 1.4rem;
    line-height: 2rem;

    margin-bottom: 3rem;
    font-weight: 500;
    svg {
        flex-shrink: 0;
        width: 0.6rem;
        height: 1.2rem;
        margin-right: 1rem;
        fill: #aeb4bb;
    }
    &:link,
    &:visited {
        color: #313131;
    }
}

.finished__content {
    width: 100%;
    max-width: 90rem;
    display: flex;
    flex-direction: column;
    padding-left: 12.8rem;
    padding-top: 6rem;
    padding-right: 6rem;
    padding-bottom: 8rem;
    position: relative;
    margin: 0 auto;

    color: #313131;
    z-index: 1;
    border: 1px dashed #979797;
    border-radius: 1.2rem;

    &--return {
        margin: 0;
    }

    @include breakpoint(mobile) {
        padding: 2rem;
        max-width: none;
    }
}

.finished__heading {
    font-size: 3.6rem;
    line-height: 1.2;
    position: relative;
    margin-bottom: 1.5rem;
    font-weight: 500;

    .icon-finished-checkmark {
        position: absolute;
        right: 100%;
        margin-right: 3.5rem;
        top: 50%;
        transform: translateY(-50%);
        fill: #111111;
        width: 6rem;
        height: 6rem;

        @include breakpoint(mobile) {
            position: static;
            margin-bottom: 3rem;
            transform: none;
        }
    }

    @include breakpoint(mobile) {
        display: flex;
        flex-direction: column;
    }
}

.finished__text {
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 500;
    padding-bottom: 3.2rem;
    position: relative;
    border-bottom: 1px dashed #979797;
    margin-bottom: 4rem;
    @include breakpoint(mobile) {
        margin-bottom: 3rem;
    }

    em {
        font-style: normal;
        font-weight: 400;
        border-bottom: 1px solid currentColor;
    }

    p {
        margin-bottom: 1.3rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.finished__order-name {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #313131;
}

.finished__order-card {
    padding: 3.2rem 0;
    display: flex;
    align-items: center;
}

.finished__order-card-image-container {
    position: relative;
    width: 7rem;
    height: 8rem;
    margin-right: 2.4rem;
    flex-shrink: 0;

    @include breakpoint(mobile) {
        margin-right: 1.8rem;
    }
}

.finished__order-card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include objectFitCover();
}

.finished__order-card-content {
    width: 50%;
    flex-grow: 1;
    display: flex;
}

.finished__order-card-title,
.finished__order-card-color,
.finished__order-card-params {
    font-size: 1.4rem;
    line-height: 1.2;
    margin-bottom: 0.4rem;
    font-weight: 400;
    &:last-child {
        margin-bottom: 0;
    }
}

.finished__order-card-content-inner {
    width: 50%;
    flex-grow: 1;
}

.finished__order-card-price {
    flex-shrink: 0;
    text-align: right;
    color: black;
    font-size: 1.4rem;
    line-height: 1.2;
    font-weight: 500;
}

.finished__order-card-price-old {
    margin-bottom: 0.4rem;
    text-decoration: line-through;
}

.finished__order-list-item {
    border-bottom: 1px solid #efefef;
}

.finished__totals {
    &--info {
        margin-bottom: 2.5rem;
    }
}

.finished__totals-item {
    padding: 2.5rem 0;
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    font-size: 1.4rem;
    line-height: 2rem;
    border-top: 1px solid #efefef;
    &:first-child {
        border: none;
    }

    &--total {
        border-color: black;
    }
}

.finished__totals-item-value {
    font-weight: 500;
}

.finished__totals-item-key,
.finished__totals-item-value {
    .finished__totals-item--total & {
        font-weight: 700;
        color: black;
    }
}

.finished__order {
    margin-bottom: 5rem;

    @include breakpoint(mobile) {
        margin-bottom: 2rem;
    }
}

.finished__gift {
    position: relative;
    background: #fff4f4;
    border: 1px dashed #ff2424;
    padding: 3.8rem 2.8rem;
    padding-right: 2.6rem;
    border-radius: 1.2rem;
    display: flex;
    align-items: center;

    @include breakpoint(mobile) {
        padding: 1.6rem;
        flex-wrap: wrap;
        align-items: initial;
        padding: 0;
        border: none;
        background: transparent;
        color: black;
    }

    .icon-gift-thick {
        display: none;
        @include breakpoint(mobile) {
            display: block;
            position: static;
            transform: none;
            margin: 0;
            fill: black;
            width: 3rem;
            height: 3rem;
            flex-shrink: 0;
            margin-right: 2.2rem;
            align-self: center;
        }
    }
    .icon-gift {
        position: absolute;
        right: 100%;
        top: 50%;
        transform: translateY(-50%);
        fill: #dd4646;
        width: 6rem;
        height: 6rem;
        margin-right: 3.6rem;

        @include breakpoint(mobile) {
            display: none;
        }
    }
}

.finished__gift-image {
    width: 7rem;
    margin-right: 3.5rem;
    height: auto;
    flex-shrink: 0;

    @include breakpoint(mobile) {
        display: none;
    }
}

.finished__gift-content {
    width: 27rem;
    color: #dd4646;
    margin-right: 2rem;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 500;

    @include breakpoint(mobile) {
        display: none;

        br {
            display: none;
        }
    }
    a {
        border-bottom: 1px solid currentColor;
        transition: color 0.2s, border-color 0.2s;
        &:link,
        &:visited {
            color: inherit;
        }

        .no-touch &:hover {
            border-color: transparent;
        }
    }
}

.finished__gift-content-mobile {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 500;
    color: #313131;
    width: 30%;
    flex-grow: 1;
    display: none;
    @include breakpoint(mobile) {
        display: block;
    }
    a {
        border-bottom: 1px solid currentColor;
        transition: color 0.2s, border-color 0.2s;
        &:link,
        &:visited {
            color: #808080;
        }

        .no-touch &:hover {
            border-color: transparent;
        }
    }
}

.finished__gift-share {
    margin-left: auto;
    background-color: #000;
    font-size: 1.4rem;
    line-height: 1.2;
    text-align: center;
    font-weight: 500;
    padding: 1.6rem 2.4rem;
    flex-shrink: 0;
    color: white;
    &:link,
    &:visited {
        color: white;
    }

    @include breakpoint(mobile) {
        width: 100%;
        margin-top: 2.5rem;
    }
}
