@font-face {
    font-family: 'Oceanic Grotesk';
    src: url('../assets/fonts/Oceanic Grotesk-Medium-Web.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oceanic Grotesk';
    src: url('../assets/fonts/Oceanic Grotesk-Regular-Web.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DOT Spektra Tekst';
    src: url('../assets/fonts/DOTSpektraTekst-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
