.intro {
    margin-bottom: 8.2rem;
    padding-top: 18rem;

    @include breakpoint(mobile) {
        padding-top: 11rem;
        margin-bottom: 4.5rem;
    }
}

.intro__content {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column-gap: var(--column-gap, 0);
    color: white;

    @include breakpoint(mobile) {
        grid-template-columns: minmax(0, 1fr);
    }

    &::before {
        content: '';
        grid-row: 1 / 2;
        grid-column: 1 / -1;
        display: block;
        padding-bottom: 61%;
        @include breakpoint(mobile) {
            grid-template-columns: minmax(0, 1fr);
            padding-bottom: 130%;
        }
    }
}

.intro__bg {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    position: relative;
    background-color: var(--primary-color);
}

.intro__bg-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.intro__title {
    z-index: 5;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    align-self: center;
    justify-self: flex-start;
    font-size: 7rem;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
    text-transform: uppercase;
    font-family: var(--spektra-tekst);

    @include breakpoint(mobile) {
        grid-column: 1 / -1;
        align-self: flex-end;
        text-align: center;
        font-size: 2.2rem;
        font-style: normal;
        font-weight: 900;
        line-height: 120%;
        text-transform: uppercase;
        text-wrap: balance;
        padding: 5rem;
        padding-bottom: 7rem;
    }
}
