.page-footer {
    border-top: 1px solid var(--text-grey);
    @include breakpoint(mobile) {
        border: none;
    }
}

.page-footer__row {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-column-gap: var(--column-gap, 0);
    padding-top: 9rem;
    padding-bottom: 8rem;

    @include breakpoint(mobile) {
        border-top: 1px solid var(--text-grey);
        flex-direction: column;
        padding-top: 3.2rem;
        padding-bottom: 6.5rem;
        display: flex;
        flex-direction: column;
    }
}

.page-footer__address-col {
    width: auto;
    display: flex;
    flex-direction: column;
    grid-column: 1 / 3;

    @include breakpoint(mobile) {
        display: contents;
    }
}

.page-footer__col-heading {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 1.6rem;

    @include breakpoint(mobile) {
        margin-bottom: 0;
        width: 50%;
        flex-grow: 1;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }
}

.page-footer__nav-col {
    grid-column: 3 / 8;
    display: flex;
    flex-direction: column;
    @include breakpoint(mobile) {
        margin: 0;
        width: 100%;
        display: contents;
    }
}

.page-footer__nav-items {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-column-gap: var(--column-gap, 0);
    margin-bottom: 7.2rem;

    @include breakpoint(mobile) {
        display: flex;
        flex-direction: column;
        margin: 0;
        justify-content: initial;
        display: contents;
    }
}

.page-footer__nav-item {
    &:nth-child(odd) {
        grid-column: span 2;
    }

    &:nth-child(even) {
        grid-column: span 3;
    }
    @include breakpoint(mobile) {
        margin: 0;
    }
}

.page-footer__nav-items:last-child {
    @include breakpoint(mobile) {
        margin: 0;
    }
}

.page-footer__nav-list {
    display: flex;
    flex-direction: column;

    @include breakpoint(mobile) {
        gap: 0.8rem;
    }
}

.page-footer__nav-list-item {
}

.page-footer__nav-link {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.2rem;

    &:hover {
        text-decoration: underline;
    }
    @include breakpoint(mobile) {
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.page-footer__policy {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: auto;
    &:hover {
        text-decoration: underline;
    }

    @include breakpoint(mobile) {
        margin-bottom: 1.5rem;
        display: block;
        order: 4;

        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.page-footer__copyright {
    color: var(--text-grey);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: auto;
    @include breakpoint(mobile) {
        order: 5;
        margin: 0;
        margin-bottom: 4.5rem;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.page-footer__subscription-form {
    display: flex;
    align-items: center;

    border-bottom: 1px solid var(--text-color);
}

.page-footer__subscription-form-input {
    width: 50%;
    flex-grow: 1;
    font: inherit;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 1.2rem 0;
    color: var(--text-color);

    &::placeholder {
        color: var(--text-grey);
    }

    @include breakpoint(mobile) {
        font-size: 1.4rem;
    }
}

.page-footer__subscription-form-submit {
    width: 2.6rem;
    height: 2.6rem;
    display: grid;
    align-items: center;
    justify-items: flex-end;
    flex-shrink: 0;

    svg {
        width: 1.6rem;
        height: 1.6rem;
        fill: var(--text-color);
    }
}

.page-footer__address {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.2rem;

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        font-style: normal;
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        font-weight: 400;
        line-height: normal;
    }
}

.page-footer__subscription-col {
    grid-column: 9 / -1;
    display: flex;
    flex-direction: column;

    @include breakpoint(mobile) {
        display: contents;
    }
}

.page-footer__social {
    display: flex;
    align-items: center;
    margin-top: auto;

    @include breakpoint(mobile) {
        flex-direction: column;
        align-items: initial;
        margin: 0;
        order: 10;
    }
}

.page-footer__social-heading {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 2rem;

    @include breakpoint(mobile) {
        margin-right: 0;
        margin-bottom: 1.5rem;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.page-footer__social-list {
    display: flex;
    align-items: center;
}

.page-footer__social-list-item {
    &:last-child {
        .page-footer__social-link::after {
            display: none;
        }
    }
}

.page-footer__social-link {
    color: var(--text-grey);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-flex;
    align-items: center;

    &::after {
        content: '/';
        color: inherit;
        font: inherit;
        margin: 0 0.7rem;
    }
    &:link,
    &:visited {
        color: var(--text-grey);
    }

    &:hover {
        text-decoration: underline;
    }
    @include breakpoint(mobile) {
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.page-footer__accordion {
    @include breakpoint(mobile) {
        margin-bottom: 3rem;
    }
}

.page-footer__accordion-btn {
    svg {
        width: 1rem;
        height: 1rem;
        flex-shrink: 0;
        margin-left: 2rem;
        fill: var(--text-grey);
        display: none;
        transition: transform 0.2s;

        .page-footer__accordion.active & {
            transform: rotate(180deg);
        }
        @include breakpoint(mobile) {
            display: block;
        }
    }
    @include breakpoint(mobile) {
        display: flex;
        align-items: center;
    }
}

.page-footer__accordion-content {
    @include breakpoint(mobile) {
        height: 0;
        overflow: hidden;
    }
}

.page-footer__accordion-content-inner {
    @include breakpoint(mobile) {
        padding-top: 1.4rem;
    }
}
