.product {
    padding-top: 22rem;
    margin-bottom: 15rem;
    @include breakpoint(mobile) {
        margin-bottom: 5rem;
        padding-top: 11rem;

        .product-images-shown & {
            padding-top: 0;
        }
    }
}

.product__row {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    @include breakpoint(mobile) {
        display: flex;
        flex-direction: column;
    }
}

.product__left-col,
.product__right-col {
    display: flex;
    flex-direction: column;
    @include breakpoint(mobile) {
        display: contents;
    }
}

.product__right-col {
    display: block;
    &--compact {
        margin-top: 0;
    }

    @include breakpoint(mobile) {
        margin: 0;
        display: contents;
    }
}

.product__images-wrapper {
    @include breakpoint(mobile) {
        display: grid;
        grid-template-columns: minmax(0, 1fr);
        grid-template-areas: 'stack';
        margin-bottom: 2rem;
    }
}

.product__images {
    margin-left: calc(-1 * ((100vw - 200%) / 2));

    @include breakpointMF(small-tablet) {
        .swiper {
            overflow: visible;
        }

        .swiper-wrapper {
            display: flex;
            flex-direction: column;
        }
    }

    @include breakpoint(mobile) {
        margin: 0;
        width: 100vw;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        grid-area: stack;
        position: absolute;
        top: 0;
        visibility: hidden;

        // display: none;

        .product-images-shown & {
            position: relative;
            visibility: inherit;
        }
    }
}

.product__images-toggle-btn {
    @include breakpoint(mobile) {
        grid-area: stack;
        z-index: 30;
        align-self: flex-end;
        justify-self: center;
        margin-bottom: 1.6rem;
        display: grid;
        place-items: center;
        width: 2.8rem;
        height: 1.6rem;

        svg {
            display: block;
            width: 100%;
            height: 100%;
            fill: var(--text-color);
            transition: fill 0.2s, transform 0.2s;
        }

        .product-images-shown & {
            svg {
                fill: var(--text-color);
                transform: rotate(180deg);
            }
        }
    }
}

.product__images-pagination {
    position: absolute;
    right: var(--content-padding, 0);
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    z-index: 30;
    display: none;

    @include breakpoint(mobile) {
        display: flex;
    }
    .swiper-pagination-bullet {
        margin-bottom: 1rem;

        width: 2rem;
        height: 2rem;
        flex-shrink: 0;

        opacity: 1;
        border: none;
        background: transparent;
        position: relative;
        &:last-child {
            margin-bottom: 0;
        }

        &::before {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background-color: #fff;
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            transition: transform 0.3s;
        }

        &.swiper-pagination-bullet-active {
            &::before {
                transform: translate(-50%, -50%) scale(1.8);
            }
        }
    }
}

.product__image {
    display: block;
    width: 100%;
    height: auto;

    @include breakpoint(mobile) {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        @include objectFitCover();
    }
}

.product__breadcrumbs {
    padding-top: 4rem;
    border-top: 1px solid #efefef;
    margin-bottom: 6.5rem;
    margin-left: 6rem;

    @include breakpoint(mobile) {
        margin: 0;
        padding: 0;
        padding-top: 2rem;
        order: -1;
        border: none;
        margin-bottom: 3rem;
    }
}

.product__content {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: sticky;
    top: 5rem;
    left: 0;
}

.product__season {
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 1.4rem;

    @include breakpoint(mobile) {
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 2rem;
    }
}

.product__title {
    font-size: 6rem;
    font-style: normal;
    font-weight: 900;
    line-height: 110%;
    text-transform: uppercase;
    width: 100%;
    max-width: 43rem;
    text-wrap: balance;
    margin: 0 auto;
    font-family: var(--spektra-tekst);
    margin-bottom: 4rem;
    @include breakpoint(mobile) {
        font-size: 3rem;
        font-style: normal;
        font-weight: 900;
        line-height: 3rem;
        max-width: none;
        margin-bottom: 2rem;
    }
}

.product__prices {
    display: flex;
    align-items: baseline;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: normal;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 4rem;

    @include breakpoint(mobile) {
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 3.5rem;
    }
}

.product__new-price {
    color: #ff0000;
}

.product__price-divider {
    margin: 0 0.8rem;
}

.product__old-price {
}

.product__variants {
    margin: 0 auto;
    margin-bottom: 1.6rem;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    &:last-child {
        margin-bottom: 0;
    }
}

.product__variants-row {
    display: flex;
}

.product__variants-col {
    width: 50%;
    margin-right: 1rem;
    &:last-child {
        margin-right: 0;
    }
}

.product__variants-select {
    text-align: left;
    .choices {
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 1.5rem;
        margin-bottom: 0;
        position: relative;
    }

    .choices.is-open {
        z-index: 30;
    }

    .choices[data-type*='select-one'].is-open::after {
        transform: translateY(-50%) rotate(0deg);
    }

    .choices[data-type*='select-one'] .choices__inner {
        padding-bottom: 0.5rem;
    }

    .choices__inner {
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 1.5rem;
        padding: 0.5rem 1.6rem;
        border: 1px solid #e2e2e2;
        min-height: 4rem;
        display: flex;
        align-items: center;
        background: transparent;
        border-radius: 0;
    }

    .choices__list--single {
        padding: 0;
        padding-right: 1.6rem;
    }

    .choices[data-type*='select-one']:after {
        border: none;
        margin: 0;
        right: 1.2rem;
        top: 50%;
        transform: translateY(-50%) rotate(180deg);
        background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 6'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%231d2734;%7D%3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M2,5.72a1.31,1.31,0,0,1-1.61,0A.91.91,0,0,1,.24,4.39a.57.57,0,0,1,.11-.11L5.2.28a1.29,1.29,0,0,1,1.6,0l4.85,4a.92.92,0,0,1,.11,1.34l-.11.1a1.31,1.31,0,0,1-1.61,0L6,2.39Z'/%3E%3C/svg%3E");
        width: 1.2rem;
        height: 0.6rem;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        transition: transform 0.3s;
    }

    .choices__placeholder {
        opacity: 1;
    }

    .choices__list--dropdown {
        word-break: initial;
        border: 1px solid #e2e2e2;
        border-top: none;
        background: white;
        border-radius: 0 !important;

        margin-top: 0;
        box-shadow: none;
    }

    .choices__list--dropdown .choices__item {
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 1.5rem;

        padding: 1rem 1.6rem;
    }

    .choices__list--dropdown .choices__item--selectable.is-highlighted {
        background: black;
        color: white;
    }

    .choices__list--dropdown .choices__list {
        max-height: 20rem;

        -webkit-overflow-scrolling: touch;

        &::-webkit-scrollbar {
            background-color: white;
            width: 0.4rem;
        }

        &::-webkit-scrollbar-thumb {
            background-color: black;
        }

        &::-webkit-scrollbar-button {
            display: none;
        }

        &::-webkit-scrollbar-track {
            background-color: white;
        }

        @include breakpoint(mobile) {
            max-height: 15rem;
        }
    }
}

.product__variants-add-to-cart {
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    color: var(--primary-color);
    transition: color 0.2s, background-color 0.2s;
    border: 1px solid var(--primary-color);
    text-align: center;
    padding: 1.8rem 2.4rem;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 2.5rem;
    width: 47.6rem;
    justify-content: center;
    max-width: 100%;
    svg {
        flex-shrink: 0;
        fill: currentColor;
        width: 2.9rem;
        height: 2.392rem;
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            background-color: var(--primary-color);
            color: white;
        }
    }

    .product__variants-col & {
        margin: 0;
    }
    @include breakpoint(mobile) {
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
        gap: 1.5rem;
        padding: 1.6rem 3.2rem;
        margin-bottom: 4.4rem;

        svg {
            width: 1.7511rem;
            height: 1.4443rem;
        }
    }
}

.product__fav-link {
    color: transparent;
    display: inline-block;
    flex-shrink: 0;
    vertical-align: middle;
    svg {
        display: block;
        width: 1.5rem;
        height: 1.5rem;
        fill: black;
    }
    &:link,
    &:visited {
        color: transparent;
    }

    &:hover,
    &.active {
        color: black;
    }
}

.product__sizes-table-link {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    display: inline-flex;
    color: var(--text-grey);
    margin-bottom: 1.8rem;
    &:link,
    &:visited {
        color: var(--text-grey);
    }
    &:hover {
        color: var(--text-color);
    }
}

.product__description {
    margin: 0 auto;
    margin-bottom: 7rem;
    max-width: 65rem;

    @include breakpoint(mobile) {
        order: 20;
        margin: 0;
    }
}

.product__description-heading {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-decoration-line: underline;

    margin-bottom: 1.2rem;
    font-weight: 400;
}

.product__description-text {
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;

    @include breakpoint(mobile) {
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.8rem;
        letter-spacing: 0.02rem;
    }

    p {
        margin-top: 1.6rem;
        &:first-child {
            margin-top: 0;
        }
    }
}

.product__variants-colors {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-top: 3.2rem;
    margin-bottom: 6rem;
}

.product__variants-colors-heading {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-right: 1.7rem;
    text-transform: uppercase;
}

.product__variants-colors-checkbox {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;

    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-right: 1.7rem;
    user-select: none;
    cursor: pointer;
    &:last-child {
        margin-right: 0;
    }
}

.product__variants-colors-checkbox-input {
    @include visuallyHidden();
}

.product__variants-colors-checkbox-text {
    color: #808080;
    transition: color 0.2s;
}

.product__variants-colors-checkbox-input:checked ~ .product__variants-colors-checkbox-text {
    color: black;
    text-decoration: underline;
}

.product__delivery-info-link {
    font-size: 1.2rem;
    line-height: 1.8rem;

    border-bottom: 1px solid black;
    text-align: center;
    transition: color 0.2s, border-color 0.2s;

    &:link,
    &:visited {
        color: black;
    }

    &:hover {
        border-bottom: 1px solid transparent;
    }
}

.product__image-link {
    display: block;
    @include breakpoint(mobile) {
        aspect-ratio: 375 / 620;
        position: relative;
    }
}

.product__image {
}

.product__content-wrapper {
    display: contents;

    @include breakpoint(mobile) {
        padding-bottom: 0;
        display: contents;
    }
}

.product__variants-select select {
    @include breakpoint(mobile) {
        border: none;
        outline: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        font: inherit;
        display: block;
        width: 100%;
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 1.5rem;
        padding: 0.5rem 1.6rem;
        border: 1px solid #e2e2e2;
        min-height: 4rem;
        display: flex;
        align-items: center;
        background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 6'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %231d2734; %7D %3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M6,3.61,10,.28a1.31,1.31,0,0,1,1.61,0l.11.1,0,0a.91.91,0,0,1-.15,1.29l-4.85,4a1.29,1.29,0,0,1-1.6,0l-4.85-4a.57.57,0,0,1-.11-.11l0-.06A.91.91,0,0,1,.39.28,1.31,1.31,0,0,1,2,.28Z' /%3E%3C/svg%3E");

        background-size: 1.2rem 0.6rem;
        background-position: right 1.2rem center;
        background-repeat: no-repeat;
    }
}
