.register {
    padding-top: 23rem;
    margin-bottom: 20rem;

    @include breakpoint(mobile) {
        padding-top: 10rem;
        margin-bottom: 7rem;
    }
}
.register__row {
    display: flex;
    @include breakpoint(mobile) {
        flex-direction: column;
    }
}

.register__left-col {
    width: 34rem;
    margin-right: 5rem;
    flex-shrink: 0;
    @include breakpoint(mobile) {
        width: 100%;
        margin: 0;
        flex-shrink: 1;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        margin-bottom: 5rem;
        display: none;
    }
}

.register__right-col {
    width: 50%;
    flex-grow: 1;

    @include breakpoint(mobile) {
        width: 100%;
        flex-grow: 0;
    }
}

.register__heading {
    margin-bottom: 3rem;
    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 2rem;
        font-weight: 500;
        padding-bottom: 2rem;
        border-bottom: 1px solid var(--text-color);
        margin-bottom: 2.4rem;
    }
}

.register__has-account-link {
    color: var(--text-grey);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    transition: border-color 0.2s;

    @include breakpoint(mobile) {
        margin-left: auto;
    }

    &:link,
    &:visited {
        color: var(--text-grey);
    }

    &:hover {
        border-color: transparent;
    }
}

.register__form {
    max-width: 103.2rem;
}

.register__form-row {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 3.2rem;
    grid-row-gap: 1.6rem;

    margin-bottom: 4.8rem;

    @include breakpoint(mobile) {
        margin-bottom: 3rem;
        grid-template-columns: minmax(0, 1fr);
    }
}

.register__form-col {
    display: flex;
    flex-direction: column;
}

.register__submit {
    margin-left: 2rem;

    @include breakpoint(mobile) {
        margin-left: 0;
    }
}

.register__subscription-checkbox {
    @include breakpoint(mobile) {
        margin-bottom: 3rem;
    }
}

.register__btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2.4rem;
    border-top: 1px solid var(--text-grey);

    @include breakpoint(mobile) {
        padding-top: 3rem;
        flex-direction: column;
        align-items: initial;
        justify-content: initial;
    }
}

.register__forgot-password {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.2;

    @include breakpoint(mobile) {
        margin-bottom: 3rem;
    }

    &:hover {
        text-decoration: underline;
    }
}

.register__account-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 6.2rem;

    @include breakpoint(mobile) {
        margin: 0;
        width: 100%;
    }
}

.register__account-nav-list {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    @include breakpoint(mobile) {
        gap: 2rem;
    }
}

.register__account-nav-link {
    border-bottom: 1px solid transparent;
    transition: border-color 0.2s;
    display: inline;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;

    &:hover,
    .register__account-nav-list-item.active & {
        font-weight: 500;
    }
}

.register__account-info {
    margin-bottom: 7.5rem;
    max-width: 107.6rem;
    @include breakpoint(mobile) {
        margin-bottom: 3rem;
    }
    table,
    thead,
    tbody,
    tr,
    th,
    td {
        display: block;
    }

    td,
    th {
        width: 50%;
        font-size: 1.6rem;
        line-height: 2rem;
        text-align: left;

        font-weight: 400;
        color: var(--text-color);

        @include breakpoint(mobile) {
            font-size: 1.4rem;
        }
    }

    td {
        text-transform: uppercase;
        font-weight: 500;
    }

    tr {
        display: flex;
        align-items: baseline;
        padding: 2.4rem 0;
        border-bottom: 1px solid var(--text-grey);

        @include breakpoint(mobile) {
            padding: 1.8rem 0;
        }
    }
}

.register__my-orders {
    @include breakpoint(mobile) {
        display: none;
    }

    table,
    thead,
    tbody,
    tr,
    th,
    td {
        display: block;
    }

    th {
        color: var(--text-color);
    }

    th,
    td {
        width: 20%;
        flex-grow: 1;
        color: var(--text-color);
        font-weight: 400;
        text-align: left;
    }

    strong {
        font-weight: 500;
    }

    thead {
        th {
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 400;
            line-height: 2rem;
        }

        tr {
            padding-bottom: 1.6rem;
            border-bottom: 1px solid var(--text-color);
            padding-top: 2.4rem;
            display: flex;
            align-items: baseline;
        }
    }

    tbody {
        tr {
            display: flex;
            padding: 4.5rem 0;
            border-bottom: 1px solid var(--text-grey);
            align-items: center;
        }

        td {
            .register__my-orders:not(.register__my-orders--order) & {
                &:nth-child(3),
                &:nth-child(4) {
                    font-weight: 500;
                }
            }
        }
    }

    &--returns {
        th,
        td {
            &:last-child {
                text-align: right;
            }
        }
    }

    &--order {
        th,
        td {
            width: 10%;
            flex-grow: 1;
            &:nth-child(1) {
                width: 22%;
                flex-grow: 1;
            }

            &:nth-child(6) {
                width: 14rem;
                flex-shrink: 0;
                flex-grow: 0;
            }
        }

        &-return {
            th:nth-child(6),
            td:nth-child(6) {
                width: 23rem;
            }
        }

        tbody tr {
            padding: 3rem 0;
        }
    }
}

.register__my-orders-mobile-list-item {
    border-bottom: 1px solid var(--text-grey);

    &:last-child {
        border-bottom: none;
    }

    &--order {
        border: none;
        margin-bottom: 5rem;
        border-top: 1px solid var(--text-grey);
        &:last-child {
            margin-bottom: 0;
        }

        &:first-child {
            border-top: none;
        }
    }
}

.register__my-orders-mobile {
    display: none;
    margin-top: -2.4rem;
    @include breakpoint(mobile) {
        display: block;
    }
}

.register__my-orders-mobile-card {
    display: flex;
    align-items: center;
    padding: 2.4rem 0;

    &--separate {
        padding: 0;
    }
}

.register__my-orders-mobile-card-status {
    position: absolute;
    right: 0;
    top: 0;
    width: 1.6rem;
    height: 1.6rem;
    border: 1px solid var(--text-grey);
    background-color: #f6f6f6;
    border-radius: 50%;

    &--delivered {
        background-color: #60ec00;
    }
}

.register__my-orders-mobile-card-image-container {
    width: 7rem;
    height: 9rem;
    position: relative;
    margin-right: 2.4rem;
    background: var(--text-color);

    img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.register__my-orders-mobile-card-content {
    width: 50%;
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    padding-right: 3rem;
}

.register__my-orders-mobile-card-title,
.register__my-orders-mobile-card-date,
.register__my-orders-mobile-card-price {
    font-size: 1.6rem;
    line-height: normal;
    margin-right: 2.4rem;

    @include breakpoint(mobile) {
        font-size: 1.4rem;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.register__my-orders-mobile-card-title,
.register__my-orders-mobile-card-price {
    font-weight: 500;
    @include breakpoint(mobile) {
        font-weight: 400;
    }
}

.register__my-orders-status {
    display: inline-flex;
    align-items: center;
    color: var(--text-color);
    font-weight: 500;
    &::before {
        content: '';
        width: 1.6rem;
        height: 1.6rem;
        background-color: #f6f6f6;
        border-radius: 50%;
        flex-shrink: 0;
        margin-right: 0.8rem;
        border: 1px solid #efefef;
    }
    &:link,
    &:visited {
        color: var(--text-color);
    }

    &--delivered {
        &::before {
            background-color: #60ec00;
        }
    }
}

.register__my-orders-link {
    display: inline-flex;
    align-items: center;
    color: var(--text-grey);

    svg {
        width: 0.6rem;
        height: 1.2rem;
        fill: var(--text-color);
        margin-left: 1.2rem;
        position: relative;
        bottom: -0.1rem;
    }
    &:link,
    &:visited {
        color: var(--text-grey);
    }

    &:hover {
        color: var(--text-color);
    }
}

.register__my-orders-return-btn {
    display: inline-flex;
    align-items: center;
    font-size: 1.4rem;
    line-height: normal;
    flex-shrink: 0;
    padding: 1rem 1.4rem;
    text-align: center;
    border: 1px solid var(--text-grey);
    width: 100%;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;
    text-align: center;
    justify-content: center;
    white-space: nowrap;

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            background-color: var(--text-color);
            border-color: var(--text-color);
            color: white;
        }
    }
}

.register__rules {
    margin-top: 8.5rem;

    @include breakpoint(mobile) {
        margin-top: 8rem;
    }
}

.register__heading-back-link {
    margin-left: -2.4rem;
    padding-left: 2.4rem;
    position: relative;

    svg {
        width: 1.4rem;
        height: 1.4rem;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        fill: currentColor;
    }

    @include breakpoint(mobile) {
        svg {
            display: none;
            margin: 0;
            padding: 0;
        }
    }
}

.register__my-orders-mobile-info-item {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    font-size: 1.4rem;
    line-height: 2rem;

    border-bottom: 1px solid var(--text-grey);
    padding: 2.4rem 0;

    &:first-child {
        border-top: 1px solid var(--text-grey);
    }
}

.register__my-orders-mobile-info-item-value {
    text-align: right;
}

.register__my-orders-mobile-make-return {
    font-size: 1.4rem;
    line-height: normal;
    padding: 1.6rem 3.2rem;
    border: 1px solid var(--text-color);
    font-weight: 500;
    text-align: center;
    display: block;
    width: 100%;
    margin-top: 3.2rem;
    color: var(--text-color);
    &:link,
    &:visited {
        color: var(--text-color);
    }
}

.register__return {
    max-width: 90rem;
}

.register__return-row {
    margin-bottom: 6rem;
}

.register__return-heading {
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 500;
    margin-bottom: 4rem;
}

.register__return-product {
    border-bottom: 1px solid #efefef;
    border-top: 1px solid #efefef;
}

.register__return-product-only-mobile {
    display: none;
    @include breakpoint(mobile) {
        display: block;
    }
}

.register__return-datetime {
    display: flex;

    @include breakpoint(mobile) {
        flex-direction: column;
    }
}

.register__return-datetime-col {
    margin-right: 1.6rem;

    @include breakpoint(mobile) {
        margin-right: 0;
        margin-bottom: 1.6rem;
    }
}

.register__return-submit {
    font-size: 1.4rem;
    line-height: 1.2rem;
    padding: 1.7rem 3.6rem;
    background-color: var(--text-color);
    color: white;
    font-weight: 500;
    text-align: center;

    display: inline-flex;
    text-align: center;
    align-self: flex-start;
    @include breakpoint(mobile) {
        display: block;
        width: 100%;
    }
}

.register__return-datetime-remark {
    font-size: 1.4rem;
    line-height: 2rem;
    color: var(--text-grey);
    max-width: 28rem;
    margin-top: 0.6rem;
}

.register__return-next-steps {
    max-width: 90rem;
    margin-top: 9rem;

    @include breakpoint(mobile) {
        margin-top: 6rem;
    }
}

.register__return-next-steps-heading {
    font-size: 1.8rem;
    line-height: 2rem;

    margin-bottom: 3rem;
    font-weight: 500;
}

.register__return-next-steps-item {
    margin-bottom: 3.2rem;
    @include breakpoint(mobile) {
        margin-bottom: 5.2rem;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.register__return-next-steps-card {
    padding: 3.2rem 4rem;
    background-color: #f5f5f5;
    border-radius: 1.2rem;
    display: flex;

    @include breakpoint(mobile) {
        padding: 3.5rem 2.4rem;
        display: flex;
        flex-direction: column;
    }
}

.register__return-next-steps-card-icon-container {
    width: 9.4rem;
    flex-shrink: 0;

    @include breakpoint(mobile) {
        width: 100%;
        flex-shrink: 1;
        margin-bottom: 4rem;
    }

    .icon-doc {
        width: 5rem;
        height: 6rem;
        flex-shrink: 0;
        fill: #111111;
        display: block;
    }

    .icon-box {
        width: 6rem;
        height: 5.8rem;
        fill: #111111;
        display: block;
        flex-shrink: 0;
    }
}

.register__return-next-steps-card-content {
    width: 40%;
    flex-grow: 1;

    @include breakpoint(mobile) {
        width: 100%;
        flex-grow: 0;
    }
}

.register__return-next-steps-card-title {
    color: var(--text-color);
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2rem;
    margin-bottom: 2rem;
}

.register__return-next-steps-card-text {
    color: var(--text-color);
    font-size: 1.4rem;
    line-height: 2rem;
    margin-bottom: 2.5rem;
    @include breakpoint(mobile) {
        margin-bottom: 4rem;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.register__return-next-steps-card-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1.3rem 1.6rem;
    font-weight: 500;

    font-size: 1.2rem;
    line-height: 1.2;
    text-align: center;
    border: 1px solid #e2e2e2;
    background-color: #fff;
    color: var(--text-color);
    flex-shrink: 0;
    align-self: flex-start;
    transition: color 0.2s, border-color 0.2s, background-color 0.2s;
    &:link,
    &:visited {
        color: var(--text-color);
    }

    .no-touch &:hover {
        background-color: var(--text-color);
        color: white;
        border-color: var(--text-color);
    }

    .register__return-next-steps-card--long & {
        margin-top: auto;
        margin-left: 4rem;

        @include breakpoint(mobile) {
            margin: 0;
            margin-top: 3rem;
        }
    }
}

.register__return-details-docs {
    margin-top: 7.5rem;
}

.register__address-book-card {
    position: relative;
    padding: 2rem;
    padding-bottom: 3.5rem;
    padding-top: 3rem;
}

.register__address-book-card-border {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 1.8rem;
    z-index: -1;
    pointer-events: none;
    transition: border-color 0.2s;
    border: 1px solid #efefef;
}

.register__address-book-checkbox-input {
    @include visuallyHidden();
}

.register__address-book {
    max-width: 103.2rem;
}

.register__address-book-checkbox {
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.register__address-book-checkbox-mark {
    width: 1.6rem;
    height: 1.6rem;
    flex-shrink: 0;
    border: 1px solid var(--text-color);
    margin-right: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: border-color 0.2s;
    border-radius: 50%;

    &::before {
        content: '';
        display: block;
        width: 1rem;
        height: 1rem;
        background-color: var(--text-color);
        pointer-events: none;
        transition: opacity 0.2s;
        opacity: 0;
        border-radius: 50%;
    }
}

.register__address-book-checkbox-text,
.register__address-book-checkbox-remark {
    color: var(--text-grey);
    font-size: 1.6rem;
    line-height: 2rem;
    margin-right: 0.5rem;
    font-weight: 400;
    transition: color 0.2s;
    &:last-child {
        margin-right: 0;
    }
}

.register__address-book-checkbox-remark {
    @include breakpoint(mobile) {
        display: none;
    }
}

.register__address-book-checkbox-input:checked ~ .register__address-book-card-border {
    border-color: var(--text-color);
}

.register__address-book-checkbox-input:checked ~ .register__address-book-checkbox {
    .register__address-book-checkbox-mark::before {
        opacity: 1;
    }

    .register__address-book-checkbox-text {
        color: var(--text-color);
    }
}

.register__address-book-item {
    margin-bottom: 3rem;
    &:last-child {
        margin-bottom: 0;
    }
}

.register__address-book-submit {
    padding: 1.6rem 3.2rem;
    border: 0.2rem solid var(--text-color);
    display: inline-flex;
    text-align: center;
    align-self: flex-start;
    margin-top: 4rem;
    color: var(--text-color);
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 35.4rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;
    justify-content: center;
    &:link,
    &:visited {
        color: var(--text-color);
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            background-color: var(--text-color);
            color: white;
        }
    }
    @include breakpoint(mobile) {
        display: block;
        width: 100%;
        border: 1px solid var(--text-color);
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}

.register__address-book-checkbox-text-wrapper {
    display: flex;
    align-items: center;
    width: 30%;
    flex-grow: 1;
}
