.table-of-sizes {
    background: rgba(black, 0.6);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    z-index: 1800;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s linear 0.3s;
    .container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        pointer-events: none;
    }

    &.shown {
        opacity: 1;
        visibility: inherit;
        transition: opacity 0.3s, visibility 0.3s;
    }

    @include breakpoint(mobile) {
        padding: 0.4rem;

        .container {
            display: contents;
        }
    }
}

.table-of-sizes__inner {
    width: 50%;

    color: #313131;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 6rem;
    padding-top: 4.2rem;
    padding-bottom: 4.2rem;
    margin-left: auto;
    position: relative;
    z-index: 1;
    pointer-events: initial;

    &::before {
        content: '';
        left: 0;
        right: calc(-1 * (100vw - 200%) / 2);
        top: 0;
        bottom: 0;
        z-index: -1;
        background-color: #fff;
        position: absolute;
        @include breakpoint(mobile) {
            display: none;
            padding: 1.6rem;
        }
    }

    @include breakpoint(mobile) {
        width: 100%;
        background-color: #fff;
        padding: 1.6rem;
        padding-top: 2rem;
        padding-bottom: 2.4rem;
    }
}

.table-of-sizes__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
    padding-bottom: 4rem;
    border-bottom: 1px solid #efefef;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2rem;

    @include breakpoint(mobile) {
        padding-bottom: 2rem;
    }
}

.table-of-sizes__close {
    width: 1.6rem;
    height: 1.6rem;
    flex-shrink: 0;
    margin-left: 2rem;

    svg {
        width: 100%;
        height: 100%;
        display: block;
        fill: #1d2734;
    }
}

.table-of-sizes__table {
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    tr {
        display: flex;
    }

    th,
    td {
        &:nth-child(1) {
            width: 50%;
            text-align: center;
            font-weight: 500;
            @include breakpoint(mobile) {
                width: 37%;
            }
        }
        &:nth-child(2) {
            width: 25%;
            text-align: left;
            @include breakpoint(mobile) {
                width: 26%;
            }
        }
        &:nth-child(3) {
            width: 25%;
            text-align: left;
            @include breakpoint(mobile) {
                width: 37%;
            }
        }
    }

    thead {
        tr {
            margin-bottom: 1.8rem;
            align-items: center;
        }
        th {
            font-weight: 500;
            font-size: 1.2rem;
            line-height: 1.5rem;
        }
    }

    tbody {
        td {
            font-size: 1.4rem;
            line-height: 1.7rem;
            padding: 1.3rem 0;
            &:nth-child(3) {
                padding-left: 1.5rem;
            }
        }

        tr {
            &:nth-child(even) {
                background: white;
            }
            &:nth-child(odd) {
                background: #f5f5f5;
            }
        }
    }
}

.table-of-sizes__select-country {
    .choices {
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 1.5rem;
        font-weight: 500;
        position: relative;
    }

    .choices.is-open {
        z-index: 30;
    }

    .choices[data-type*='select-one'].is-open::after {
        transform: translateY(-50%) rotate(0deg);
    }

    .choices[data-type*='select-one'] .choices__inner {
        padding-bottom: 0.5rem;
    }

    .choices__inner {
        font-weight: 500;
        font-size: 1.2rem;
        padding: 0.5rem 1.6rem;
        border: 1px solid #e2e2e2;
        background: transparent;
        border-radius: 0;

        font-size: 1.2rem;
        line-height: 1.5rem;
        min-height: 4rem;
        display: flex;
        align-items: center;
    }

    .choices__list--single {
        padding: 0;
        padding-right: 1.6rem;
    }

    .choices[data-type*='select-one']:after {
        border: none;
        margin: 0;
        right: 1.2rem;
        top: 50%;
        transform: translateY(-50%) rotate(180deg);
        background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 6'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%231d2734;%7D%3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M2,5.72a1.31,1.31,0,0,1-1.61,0A.91.91,0,0,1,.24,4.39a.57.57,0,0,1,.11-.11L5.2.28a1.29,1.29,0,0,1,1.6,0l4.85,4a.92.92,0,0,1,.11,1.34l-.11.1a1.31,1.31,0,0,1-1.61,0L6,2.39Z'/%3E%3C/svg%3E");
        width: 1.2rem;
        height: 0.6rem;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        transition: transform 0.3s;
    }

    .choices__placeholder {
        opacity: 1;
    }

    .choices__list--dropdown {
        word-break: initial;
        border: 1px solid #e2e2e2;
        border-top: none;
        background: white;
        border-radius: 0 !important;

        margin-top: 0;
        box-shadow: none;
    }

    .choices__list--dropdown .choices__item {
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 1.5rem;

        padding: 1rem 1.6rem;
    }

    .choices__list--dropdown .choices__item--selectable.is-highlighted {
        background: black;
        color: white;
    }

    .choices__list--dropdown .choices__list {
        max-height: 20rem;

        -webkit-overflow-scrolling: touch;

        &::-webkit-scrollbar {
            background-color: white;
            width: 0.4rem;
        }

        &::-webkit-scrollbar-thumb {
            background-color: black;
        }

        &::-webkit-scrollbar-button {
            display: none;
        }

        &::-webkit-scrollbar-track {
            background-color: white;
        }

        @include breakpoint(mobile) {
            max-height: 15rem;
        }
    }
}

.table-of-sizes__remark {
    margin-top: auto;
    font-size: 1.4rem;
    line-height: 2rem;
}

.table-of-sizes__delivery-info-text {
    font-size: 1.4rem;
    line-height: 2rem;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 5.5rem;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2rem;

        @include breakpoint(mobile) {
            margin-top: 3rem;
        }
        &:first-child {
            margin-top: 0;
        }
    }

    p {
        margin-top: 2rem;

        @include breakpoint(mobile) {
            margin-top: 1.5rem;
        }
        &:first-child {
            margin-top: 0;
        }
    }
}

.table-of-sizes__select-country select {
    @include breakpoint(mobile) {
        border: none;
        outline: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        font: inherit;
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 1.2rem;
        padding: 0.5rem 1.6rem;
        border: 1px solid #e2e2e2;
        min-height: 4rem;
        background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 6'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %231d2734; %7D %3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M6,3.61,10,.28a1.31,1.31,0,0,1,1.61,0l.11.1,0,0a.91.91,0,0,1-.15,1.29l-4.85,4a1.29,1.29,0,0,1-1.6,0l-4.85-4a.57.57,0,0,1-.11-.11l0-.06A.91.91,0,0,1,.39.28,1.31,1.31,0,0,1,2,.28Z' /%3E%3C/svg%3E");

        padding-right: 3rem;
        background-size: 1.2rem 0.6rem;
        background-position: right 1.2rem center;
        background-repeat: no-repeat;
    }
}
